.contest-slide {
  position: relative;
  background: $c9;
  overflow: hidden;
  .width-wrapper {
    padding: rem(195) rem(20) rem(25) rem(20);
    position: relative;
  }
  h3 {
    font-size: $h3;
    color: $c6;
    font-weight: 900;
    margin-bottom: rem(8);
  }
  p + p {
    margin-top: rem(9);
  }
}

.contest-slide-left, .contest-slide-right {
  max-width: rem(360);
}

.contest-slide-left {
  margin-bottom: 1rem;
}

.guidelines-list {
  margin: rem(15) 0 rem(28) 0;
  li {
    position: relative;
    list-style: none;
    padding-left: rem(20);
    counter-increment: standard-counter;
    &:before {
      position: absolute;
      content: counter(standard-counter)".";
      left: 0;
      font-weight: 900;
    }
  }
  li + li {
    margin-top: rem(8);
  }
}

.prizes-list {
  margin-top: rem(15);
  .place {
    display: block;
    font-weight: 900;
    text-transform: uppercase;
  }
  .ordinal {
    font-size: $p3;
  }
  li + li {
    margin-top: rem(15);
  }
}

#contest-dog {
  display: none;
}

@media only screen and (min-width: 37.500rem) {
  .contest-slide {
    .width-wrapper {
      padding: rem(225) rem(20) rem(55) rem(20);
    }
  }
}

@media only screen and (min-width: 50rem) {
  .contest-slide {
    .width-wrapper {
      padding: rem(305) rem(20) rem(85) rem(20);
      position: relative;
    }
  }

  .contest-slide-content {
    float: right;
  }

  .contest-slide-left {
    overflow-y: auto;
    float: left;
    padding-right: rem(20);
    max-height: 29.6rem;
  }

  .contest-slide-right {
    overflow: auto;
    float: left;
    padding-left: rem(20);
    max-height: 29.6rem;
  }

  #contest-dog {
    display: block;
    position: absolute;
    height: 100%;
    bottom: rem(0);
    right: rem(800);
    padding-top: rem(240);
    z-index: 2;
  }
}

@media (min-height: 56rem) {
  .contest-slide-left, .contest-slide-right {
    max-height: 35rem;
  }
}

@media only screen and (min-width: 62.5rem) and (min-height: 46.25rem) {
  .contest-slide {
    .width-wrapper {
      padding: 0;
      height: 100vh;
      min-height: 100vh;
    }
  }

  .contest-slide-content {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: rem(83);
    @include transform(translateY(-50%));
  }

  .contest-heading {
    float: right;
    margin-right: rem(400);
  }

  .contest-heading-wrapper {
    overflow: hidden;
    padding: 0 rem(20);
    margin: 0 auto;
    max-width: rem(1160);
  }

  #contest-dog {
    padding-top: 0;
    height: 85%;
    z-index: 3;
  }
}