.master-footer {
  background: $c7;
  padding: rem(15) rem(20);
  @include transition(opacity 0.2s);
  svg {
    width: rem(245);
  }
  p {
    font-size: $p3;
    font-weight: 800;
    text-transform: uppercase;
    color: $c4;
    padding: 0 0 0 rem(5);
  }
}

#to-top {
  background: $c2;
  position: fixed;
  bottom: rem(20);
  right: rem(20);
  display: block;
  color: $c6;
  font-weight: 900;
  font-size: $p2;
  text-transform: uppercase;
  text-align: center;
  padding: rem(8) rem(6) rem(4) rem(6);
  opacity: 0;
  z-index: -2;
  @include transition(opacity 0.2s ease-in-out);
  svg {
    display: block;
    margin: 0 auto;
    width: rem(11);
    fill: $c6;
  }
  &.fixed {
    opacity: 1;
    z-index: 10;
  }
}

@media only screen and (min-width: 62.5rem) and (min-height: 46.25rem) {
  .master-footer {
    background: $c7;
    padding: rem(10) rem(20);
    @include transition(opacity 0.2s);
    svg {
      width: rem(245);
      float: left;
    }
    p {
      float: right;
      padding: 0;
      line-height: rem(24);
    }
  }

  #to-top {
    &.fixed {
      display: none;
    }
  }

  .master-footer {
    bottom: rem(-75);
    @include transition(transform 0.4s);
    @include transition(all 0.4s);
    @include transform(translateY(5rem));
    &.fixed {
      @include transform(translateY(0));
      bottom: 0;
      left: 0; 
      position: fixed;
      width: 100%; 
      z-index: 4;
    }
  }
}

