.success-modal {
  background: $c7;
  position: fixed;
  opacity: 0;
  z-index: -10;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding-bottom: rem(20);
  top: 0;
  left: 0;
  @include transition(opacity 0.2s);
  .width-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  &.form-active {
    opacity: 1;
    z-index: 999;
  }
  svg {
    width: rem(135);
  }
  h2 {
    color: $c2;
    font-size: $h2m;
    font-weight: 800;
    margin: 0 0 rem(8) 0;
    max-width: rem(200);
  }
  p {
    color: $c9;
    font-weight: 800;
    text-transform: uppercase;
    max-width: rem(300);
  }
  .button {
    margin-top: rem(38);
    padding: rem(2) rem(22) 0 rem(22);
    line-height: rem(48);
  }
}

.success-modal-text {
  position: relative;
  top: 50%;
  @include transform(translateY(-50%));
}

@media only screen and (min-width: 50rem) {
  .success-modal {
    overflow: hidden;
    .width-wrapper {
      max-width: rem(800);
    }
    svg {
      width: rem(230);
    }
    p, h2 {
      max-width: none;
    }
    h2 {
      font-size: $h2;
    }
  }
  
  .success-modal-text {
    float: right;
  }
}