.form-modal {
  background: $c8;
  position: fixed;
  z-index: -10;
  opacity: 0;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  padding: rem(80) 0 rem(40) 0;
  top: 0;
  left: 0;
  @include transition(opacity 0.2s ease-in-out);
  &.form-active {
    opacity: 1;
    z-index: 1000;
  }
  label {
    text-transform: uppercase;
    color: $c2;
    font-size: $p3;
    font-weight: 700;
    display: block;
    padding-bottom: 0.2rem;

    &.word-count {
      color: $c3;
    }
  }
  input[type=submit], input[type=text], input[type=email] {
    line-height: rem(48);
    display: block;
    width: 100%;
    padding: 0 rem(15);
    -webkit-appearance: none;
    border-radius: 0;
  }
  input[type=text], input[type=email] {
    background: $c9;
  }
  input[type=submit] {
    width: 100%
  }
  input[type=file] {
    // display: none;
    color: $c9;
  }
  .select-dropdown {
    padding: 0 1rem;
    border-radius: 0;
    width: 100% !important;
    height: 3rem;
    background-color: #ffffff;
    background-image: url('/next/images/vca-next-down-arrow.svg');
    background-repeat: no-repeat;
    background-position: 95.4% 16px;
    background-size: 1rem;
    line-height: 3rem;
    -webkit-appearance: none;
  }
  textarea {
    -webkit-appearance: none;
    background: $c9;
    border-radius: 0;
    display: block;
    margin-bottom: 0.4rem;
    width: 100%;
    height: rem(75);
    padding: rem(15);
    box-sizing: border-box;
  }
  h2 {
    color: $c2;
    font-weight: 800;
    font-size: $h2m;
    margin-bottom: rem(10);

    @media only screen and (min-width: 56.25rem) {
      max-width: rem(200);
    }
  }
  p, li {
    color: $c3;
  }
}

.text-area {
  margin-top: 1rem;
}

.checkbox {
  margin-top: 1rem;
  position: relative;
  label {
    padding-left: rem(25);
  }
  input {
    position: absolute;
    top: -0.7875rem;
    left: 0;
  }
}

.form-modal-left {
  display: none;
}

.close-modal {
 position: absolute;
 top: 0;
 right: rem(20);
  a {
    display: inline-block;
    padding-left: rem(18);
    margin: rem(20) 0;
    color: $c2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: $p3;
    position: relative;
    svg {
      fill: $c2;
      width: rem(11);
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: rem(-6);
    }
  }
}

.form-top {
  margin-bottom: rem(15);
}

.side-by-side + .side-by-side, .field + .field, .side-by-side + .field {
  margin-top: rem(16);
}

.file-fake {
  overflow: hidden;
  font-size: $p2;
  text-transform: uppercase;
  .form-inline-space {
    float: left;
  }
  .form-inline-space {
    width: 60%;
    padding-right: rem(15);
  }
}

.file-path {
  background: $c9;
  display: block;
  line-height: rem(29);
  height: rem(29);
  color: $c4;
  font-weight: 700;
  padding: 0 rem(10);
  overflow: hidden;
  white-space: nowrap;
  &:hover {
    cursor: pointer;
  }
}

.file-browse {
  background: $c5;
  display: block;
  line-height: rem(29);
  float: left;
  width: 40%;
  text-align: center;
  color: $c9;
  font-weight: 700;
  padding: 0 rem(10);
}

.hidden-field {
  display: none;
}


// error message
#description-error-message, #terms-error-message {

  &.error {
    color: red;
    font-size: $p2;
    font-weight: bold;
    display: block;
    margin: 1rem 0 0;
  }
}
#description-error-message, #terms-error-message {
  display: none;
}

#error-message {
  display: none;

  &.error {
    display: block;
    color: red;
  }
}


@media only screen and (min-width: 37.5rem) {
  .side-by-side {
    overflow: hidden;
    .field {
      float: left;
      width: 50%;
      &+.field {
        margin-top: 0;
      }
    }
    .field:first-child {
      padding-right: rem(10);
    }
    .field:last-child {
      padding-left: rem(10);
    }
  }
}

@media only screen and (min-width: 56.25rem) {
  .form-modal {
    h2 {
      font-size: $h2;
      max-width: none;
    }
  }
  .form-modal-left {
    display: block;
    float: left;
    width: 50%;
    padding-right: rem(30);
  }
  #submit-form {
    display: block;
    float: right;
    width: 50%;  
    padding-left: rem(30);
  }
}

@media only screen and (min-width: 62.5rem) {
  .form-modal-left {
    padding-right: rem(45);
  }
  #submit-form {
    padding-left: rem(45);
  }
}

// @media only screen and (min-width: 62.5rem) and (min-height: 50rem) {
//   .form-modal {
//     overflow: hidden;
//     .width-wrapper {
//       width: 100%;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       @include transform(translate(-50%, -50%));
//     }
//   }
// }


// Coming soon modal
//////////////////////////////////////////////
.form-modal.coming-soon {

  .width-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .coming-soon-copy {
    max-width: 44rem;
    margin: -10rem auto 0;
  }

  .form-resources {
    color: $c2;
    display: none;

    @media only screen and (min-width: 40rem) {
      display: inline-block;
    }
  }

  .form-resources-mobile {
    color: $c2;
    display: inline-block;
    
    @media only screen and (min-width: 40rem) {
      display: none;
    }
  }
}