html, body, address, blockquote, div,
form, caption, input, textarea
h1, h2, h3, h4, h5, h6,
hr, ul, li, ol, a,
p, img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: $stack;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.form-active, &.video-active {
    overflow-y: hidden;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  font-size: 1em;
  line-height: 1.2;
  text-transform: uppercase;
}

img {
  border: none;
  display: block;
}

p, li {
  color: $c6;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

li {
  list-style: none;
}

input, textarea  {
  font-family: $stack;
  font-size: 100%;
  outline: none;
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: none;
}

input[type=submit], button {
  &:hover {
    cursor: pointer;
  }
}

#fullpage {
  display: none;
}

.width-wrapper {
  padding: 0 rem(20);
  margin: 0 auto;
  max-width: rem(1160);
}

.button {
  background: $c1;
  color: $c9;
  text-transform: uppercase;
  font-weight: 700;
  font-size: $p2;
  display: inline-block;
  line-height: rem(48);
  padding: 0 rem(15);
  -webkit-appearance: none;
  &:hover {
    cursor: pointer;
  }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 62.5rem) and (min-height: 46.25rem) {
  body {
    max-height: 100vh;
    overflow: hidden;
  }
  #mobile {
    display: none;
  }
  #fullpage {
    display: block;
  }
}

// Scroll bar
/////////////////////////////
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}