.questions-slide {
  background: $c3;
  position: relative;
  overflow: hidden;
  padding: rem(25) 0 rem(25) 0;
  .width-wrapper {
    position: relative;
  }
}

.question {
  background: $c9;
  padding: rem(20) rem(23);
  p {
    display: none;
    margin-top: rem(15);
  }
  .question-title:hover, &.active {
    h3 {
      color: $c6;
    }
    svg {
      fill: $c6;
      @include transition(transform 0.2s);
    }
  }
  &.active {
    svg {
      @include transform(rotate(180deg));
    }
  }
  &+.question {
    margin-top: rem(10);
  }
}

.question-title {
  overflow: hidden;
  position: relative;
  h3 {
    float: left;
    padding-right: rem(40);
    color: $c5;
  }
  svg {
    width: rem(11);
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: rem(-4);
    fill: $c5;
  }
  &:hover {
    cursor: pointer;
  }
}

#questions-dog {
  display: none;
}

@media only screen and (min-width: 50rem) {
  .questions-slide {
  padding: 0 0 0 0;
    .width-wrapper {
      padding: rem(60) rem(20);
      position: relative;
    }
  }

  .questions {
    max-width: rem(600);
    max-height: rem(400);
    overflow-y: auto;
    position: relative;
    z-index: 100;
  }

  #questions-dog {
    z-index: 3;
    display: block;
    position: absolute;
    height: 100%;
    left: rem(650);
    bottom: 0;
    padding-top: rem(60);
  }
}

@media only screen and (min-width: 65.5rem) and (min-height: 46.25rem) {
  .questions-slide {
    padding: 0;
    min-height: 100vh;
    height: 100vh;
    .width-wrapper {
      padding: rem(60) 0;
      position: relative;
      height: 100vh;
    }
  }

  .questions {
    position: absolute;
    top: 50%;
    left: rem(20);
    width: 100%;
    margin-top: rem(-115);
  }

  #questions-dog {
    padding-top: 0;
    height: 85%;
  }
}

@media only screen and (min-width: 75rem) {
  #questions {
    position: relative;
  }

  .dog-wrapper {
    min-width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
  }

  #questions-dog {
    right: rem(20);
    left: auto;
  }
}


