.size-check {
  position: absolute;
  width: 1px;
  height: 1px;
  z-index: -1;
}

@media only screen and (min-width: 29.438rem) {
  .size-check {
    z-index: -2;
  }
}

@media only screen and (min-width: 37.5rem) {
  .size-check {
    z-index: -5;
  }
}

@media only screen and (min-width: 50rem) {
  .size-check {
    z-index: -3;
  }
}

@media only screen and (min-width: 62.5rem) and (min-height: 46.250rem){
  .size-check {
    z-index: -4;
  }
}