.top-5-information-modal {
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 1001;
  width: 100%;
  height: 100%;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: rgba(24, 24, 24, 0.8);
    width: 100%;
    height: 100%;
  }

  &__container {
    position: relative;
    z-index: 1002;
    background-color: lighten($c7, 4%);
    padding: 2.8rem 1.225rem;
    width: 100%;
    color: $c9;
    
    @media only screen and (min-width: 50rem) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 8.8rem 3.5rem;
      width: 60rem;
      max-width: 43.75rem;
      height: 30rem;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-transform: uppercase;
    color: $c2;
    font-weight: bold;
    font-size: $p2;

    &:hover {
      cursor: pointer;
    }

    .icon {
      display: inline-block;
      margin-right: 0.3rem;
      width: 0.65rem;
      height: 0.65rem;

      svg {
        display: block;
        fill: $c2;
      }
    }
  }

  &__title {
    @extend .h1;
    position: relative;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;

    &:after {
      position: absolute;
      content: '';
      bottom: rem(0);
      left: 0;
      width: rem(90);
      height: rem(2);
      background: $c2;
    }
  }

  &__content {
    font-size: $p1;
  }
}