// heading icon style ////////////////////////////////////////////

.top-11-sub-heading {

  .icon-plus {
    display: inline-block;
    position: relative;
    top: -0.4rem;
    left: -0.3rem;
    width: 1.1rem;
    height: 1.1rem;

    &:hover {
      cursor: pointer;
    }

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

.top-11-heading {

  .icon-plus {
    display: inline-block;
    position: relative;
    top: -0.45rem;
    left: -0.2rem;
    width: 1.4rem;
    height: 1.4rem;

    &:hover {
      cursor: pointer;
    }

    svg {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

// end heading icon style ........................................



.top-11-slide {
  position: relative;
  // margin-top: 2rem;
  border-top: 1px solid $c3;
  min-height: 100vh;

  @media (max-width: 62.499rem) {
    overflow: hidden;
  }

  @media (min-width: 62.5rem) {
    margin-top: 0;
    border: 0;
    padding-top: 13.4rem;
  }

  // SLIDER NAV

  &__nav-candidates {
    width: 100%;

    @media (min-width: 62.5rem) {
      height: calc(100vh - 16.0625rem) !important;

      .slick-list, .slick-track {
        height: 100% !important;
      }
    }
  }

  &__nav-candidate {
    // display: block !important;
    position: relative;

    @media (max-width: 62.499rem) {
      display: inline-block !important;
      border-bottom: 1px solid $c4;
      width: 100% !important;
      height: 14rem;
    }

    @media (max-width: 31.24rem) {
      display: block;
      height: 120px;
    }

    @media (min-width: 62.5rem) {
      // float: left !important;
      width: 16.66% !important;
      height: 50% !important;

      &:nth-child(6n+6) {
        width: 16.67% !important;
      }

      &:hover {
        cursor: pointer;

        .top-11-slide__nav-candidate-info {
          opacity: 1;
          visibility: visible;
        }
      } 
    }
  }

  &__nav-candidate-image {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;

    @media (max-width: 62.499rem) {
      width: 240px;
    }

    @media (max-width: 31.24rem) {
      width: 132px;
    }

    @media (min-width: 62.5rem) {
      
    }

    &.janet {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0006_Dr. Janet McKim.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0006_Dr. Janet McKim.jpg');
      }
    }

    &.crystal {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0008_Crystal Nunn.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0008_Crystal Nunn.jpg');
      }
    }

    &.erika {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0010_Erika Ervin.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0010_Erika Ervin.jpg');
      }
    }

    &.sarah {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0001_Sarah Ramer.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0001_Sarah Ramer.jpg');
      }
    }

    &.jenn {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0005_Jenn Simmons.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0005_Jenn Simmons.jpg');
      }
    }

    &.tracy {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0000_Tracy Heyland.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0000_Tracy Heyland.jpg');
      }
    }

    &.christina {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0009_Christina Rae Thompson.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0009_Christina Rae Thompson.jpg');
      }
    }

    &.pamela {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0003_Pamela Tran.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0003_Pamela Tran.jpg');
      }
    }

    &.andrea {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0007_Dr. Andrea Shaw.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0007_Dr. Andrea Shaw.jpg');
      }
    }

    &.katie {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0004_Kaite King.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0004_Kaite King.jpg');
      }
    }

    &.samantha {
      background-image: url('/next/images/vca-next-top-eleven-mobile_0002_Samantha Ciulla.jpg');

      @media (min-width: 40rem) {
        background-image: url('/next/images/vca-next-top-eleven-_0002_Samantha Ciulla.jpg');
      }
    }

    // img {
    //   width: 100%;
    // }

    .rank-icon {
      position: absolute;
      bottom: 0;
      left: 0;

      @media (min-width: 62.5rem) {
        top: 0;
        bottom: auto;
      }

      &.first-place {
        width: rem(76);

        @media (min-width: 31.25rem) {
          width: rem(110);
        }

        @media (min-width: 62.5rem) {
          width: rem(80);
        }

        @media (min-width: 76rem) {
          width: rem(90);
        }
      }

      &.second-place, &.third-place, &.fourth-place, &.fifth-place {
        width: rem(45);

        @media (min-width: 31.25rem) {
          width: rem(60);
        }

        @media (min-width: 62.5rem) {
          width: rem(45);
        }

        @media (min-width: 76rem) {
          width: rem(50);
        }
      }

      &.finalist {
        width: rem(68);

        @media (min-width: 31.25rem) {
          width: rem(90);
        }

        @media (min-width: 62.5rem) {
          width: rem(70);
        }

        @media (min-width: 76rem) {
          width: rem(80);
        }
      }

      // &.third-place {
      //   width: rem(45);
      // }

      // &.fourth-place {
      //   width: rem(45);
      // }

      // &.fifth-place {
      //   width: rem(45);
      // }
    }

    .desktop {
      display: none
    }
  }

  &__nav-candidate-trigger {
    display: table;
    position: relative;
    background-color: $c2;
    height: 100%;

    @media (max-width: 62.499rem) {
      float: right;
      width: calc(100% - 240px);
    }

    @media (max-width: 31.24rem) {
      width: calc(100% - 132px);
    }

    @media (min-width: 62.5rem) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100.5%;
      height: 70px;
    }

    .icon-open {
      display: none;

      @media (min-width: 62.5rem) {
        display: inline-block;
        position: absolute;
        top: 0.2rem;
        right: 0.8rem;
        width: 0.7rem;
        height: 0.7rem;
      }

      svg {
        fill: $c6;
      }
    }
  }

  &__nav-candidate-trigger-container {
    @extend .p1;
    display: table-cell;
    vertical-align: middle;
    padding: 0 2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__nav-candidate-trigger-title {
    font-weight: 800;
    color: $c6;

    @media (min-width: 62.5rem) {
      // font-size: rem(14);
      line-height: 1;
    }
  }

  &__nav-candidate-trigger-read-more {
    text-transform: uppercase;
    font-weight: 800;
    color: $c1;

    @media (min-width: 62.5rem) {
      display: none;
    }

    span {
      display: inline-block;
      position: relative;
      top: 0.3rem;
      left: 0.5rem;
      transform: rotate(90deg);
      width: 0.7rem;
      height: 0.7rem;

      svg {
        width: 100%;
        height: 100%;
        fill: $c1;
      }
    }
  }

  &__nav-candidate-info {
    @extend .p1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    overflow: hidden;
    padding: 1.2rem 1rem;
    background-color: $c2;
    width: 100%;
    height: 100%;
    color: $c6;

    .icon-close {
      display: inline-block;
      position: absolute;
      top: 1.8rem;
      right: 1.2rem;
      transform: rotate(180deg);
      width: 0.7rem;
      height: 0.7rem;

      svg {
        width: 100%;
        height: 100%;
        fill: $c6;
      }
    }
  }

  &__nav-candidate-name {
    margin-bottom: 0.2rem;
    font-weight: 800;
  }

  &__nav-candidate-position {
    margin-bottom: 0.3rem;
    line-height: 1.2;
  }

  &__nav-candidate-idea-title {
    margin-bottom: 0.1rem;
    font-weight: 800;
  }

  &__nav-candidate-idea-copy {
    line-height: 1.2;
  }

  &__nav-candidate-read-more {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $c2;
    padding: 0.8rem 1.2rem 1rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 800;
    color: $c1;

    span {
      display: inline-block;
      position: relative;
      top: 0.3rem;
      left: 0.5rem;
      transform: rotate(90deg);
      width: 0.7rem;
      height: 0.7rem;

      svg {
        width: 100%;
        height: 100%;
        fill: $c1;
      }
    }
  }

  &__about-comp {
    display: block;
    position: relative;
    padding: 1.1rem 1.7rem;
    background-color: $c1;

    @media (max-width: 62.499rem) {
      padding: 2.2rem 1.7rem;
      width: 100% !important;
    }

    @media (max-width: 31.24rem) {
      padding: 1.1rem 1.7rem;
    }

    @media (min-width: 62.5rem) {
      // display: table !important;
      width: 16.66% !important;
      height: 50% !important;
    }

    &:hover {
      cursor: pointer;
    }

    h3 {
      text-transform: uppercase;
      font-weight: 900;
      font-size: $h3;
      color: $c3;

      @media (min-width: 62.5rem) {
        // display: table-cell;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        vertical-align: middle;
      }

      @media (min-width: 62.5rem) and (max-width: 68rem) {
        font-size: rem(20);
      }
    }

    .logo {
      display: inline-block;
      position: relative;
      float: none;
      background-repeat: no-repeat;

      @media (max-width: 62.499rem) {
        top: 0.3rem;
        width: 9.2rem;
        height: 1.45rem;
      }

      @media (min-width: 62.5rem) {
        margin-top: 0.1rem;
        width: 11.0125rem;
        height: 1.575rem;
      }

      @media (min-width: 62.5rem) and (max-width: 68rem) {
        width: 9rem;
        height: 1.2rem;
      }
    }

    .icon-plus {
      display: inline-block;
      width: 1rem;
      height: 1rem;

      svg {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.top-11-slide--outside {
  position: absolute;
  // top: 0;
  // left: 0;
  // z-index: 999999;
}

.top-11-candidate-modal-container {

  .top-5-slide {
    // CANDIDATE IMAGES - both sliders
  
    // candidate images for
    &__nav-candidate {
      
      // 1st candidate
      &:nth-child(1) {
        
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0006_Dr. Janet McKim.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0006_Dr. Janet McKim.jpg');
          }
        }

      } // end 1st candidate

      &:nth-child(2) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0008_Crystal Nunn.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0008_Crystal Nunn.jpg');
          }
        }

      } // end 2nd candidate
      
      // 3rd candidate
      &:nth-child(3) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0010_Erika Ervin.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0010_Erika Ervin.jpg');
          }
        }

      } // end 3rd candidate
      
      // 4th candidate
      &:nth-child(4) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0001_Sarah Ramer.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0001_Sarah Ramer.jpg');
          }
        }

      } // end 4th candidate
      
      // 5th candidate
      &:nth-child(5) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0005_Jenn Simmons.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0005_Jenn Simmons.jpg');
          }
        }

      } // end 5th candidate
      
      // 6th candidate
      &:nth-child(6) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0000_Tracy Heyland.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0000_Tracy Heyland.jpg');
          }
        }

      } // end 6th candidate
      
      // 7th candidate
      &:nth-child(7) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0009_Christina Rae Thompson.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0009_Christina Rae Thompson.jpg');
          }
        }

      } // end 7th candidate
      
      // 8th candidate
      &:nth-child(8) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0003_Pamela Tran.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0003_Pamela Tran.jpg');
          }
        }

      } // end 8th candidate
      
      // 9th candidate
      &:nth-child(9) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0007_Dr. Andrea Shaw.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0007_Dr. Andrea Shaw.jpg');
          }
        }

      } // end 9th candidate
      
      // 10th candidate
      &:nth-child(10) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0002_Samantha Ciulla.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0002_Samantha Ciulla.jpg');
          }
        }

      } // end 10th candidate
      
      // 11th candidate
      &:nth-child(11) {
        .top-5-slide__nav-candidate-image {
          background-image: url('/next/images/vca-next-top-5-ideas-shelly-krieger--mobile.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-5-ideas-shelly-krieger.jpg');
          }
        }

      } // end 11th candidate
    
    }

    // candidate images in modal
    &__candidate {
      
      // 1st candidate
      &:nth-child(2) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0002_Samantha Ciulla.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0002_Samantha Ciulla.jpg');
          }
        }

      } // end 1st candidate
      
      // 2nd candidate
      &:nth-child(3) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0010_Erika Ervin.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0010_Erika Ervin.jpg');
          }
        }

      } // end 2nd candidate
      
      // 3th candidate
      &:nth-child(4) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0004_Kaite King.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0004_Kaite King.jpg');
          }
        }

      } // end 3th candidate
      
      // 4th candidate
      &:nth-child(5) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0009_Christina Rae Thompson.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0009_Christina Rae Thompson.jpg');
          }
        }

      } // end 4th candidate
      
      // 5th candidate
      &:nth-child(6) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0005_Jenn Simmons.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0005_Jenn Simmons.jpg');
          }
        }

      } // end 5th candidate
      
      // 6th candidate
      &:nth-child(7) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0006_Dr. Janet McKim.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0006_Dr. Janet McKim.jpg');
          }
        }

      } // end 6thcandidate

      // 7th candidate
      &:nth-child(8) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0008_Crystal Nunn.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0008_Crystal Nunn.jpg');
          }
        }

      } // end 7th candidate
      
      // 8th candidate
      &:nth-child(9) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0001_Sarah Ramer.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0001_Sarah Ramer.jpg');
          }
        }

      } // end 8th candidate
      
      // 9th candidate
      &:nth-child(10) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0000_Tracy Heyland.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0000_Tracy Heyland.jpg');
          }
        }

      } // end 9th candidate
      
      // 10th candidate
      &:nth-child(11) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0003_Pamela Tran.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0003_Pamela Tran.jpg');
          }
        }

      } // end 10th candidate
      
      // 11th candidate
      &:nth-child(12) {
        
        .top-5-slide__candidate-image-container {
          background-image: url('/next/images/vca-next-top-eleven-mobile_0007_Dr. Andrea Shaw.jpg');

          @media (min-width: 40rem) {
            background-image: url('/next/images/vca-next-top-eleven-_0007_Dr. Andrea Shaw.jpg');
          }
        }

      } // end 11th candidate
      
    }

    // end candidates image ............................  
  }
}