.top-5-slide {
  position: relative;
  // margin-top: 2rem;
  border-top: 2px solid $c3;
  min-height: 100vh;

  @media (max-width: 39.99rem) {
    padding-bottom: 0.3rem;
  }

  @media (min-width: 62.5rem) {
    margin-top: 0;
    border: 0;
    padding-top: 13.4rem;
  }

  &--outside {
    position: absolute;
  }


  // SLIDER NAV

  &__nav-candidates {

    @media (min-width: 62.5rem) {
      height: calc(100vh - 16.0625rem);

      .slick-list, .slick-track {
        height: 100%;
      }
    }
  }

  // single candidate
  &__nav-candidate {
    position: relative;

    @media (max-width: 62.499rem) {
      width: 100% !important;
      height: 14rem;
    }

    @media (max-width: 31.24rem) {
      height: 11.5rem;
      height: 12rem;
    }

    &:nth-child(1) { // remove border from 5 candidate info section
      .top-5-slide__nav-candidate-info {
        border-top: 0
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: 0;
    }
  }
  
  // inner layout
  &__nav-candidate-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: 62.5rem) {
      display: block;
      width: 100%;
      height: 18.5625rem;
    }

    @media (max-width: 62.499rem) {
      display: inline-block;
      float: left;
      width: 15rem;
      height: 100%;
    }

    @media (max-width: 39.99rem) {
      display: inline-block;
      float: left;
      width: 15rem;
      height: 100%;
    }

    @media (max-width: 31.24rem) {
      display: inline-block;
      float: left;
      width: 50%;
      height: 100%;
    }
  }

  &__rank-icon {
    position: absolute;
    top: 0;
    right: 0;

    &.first-place {
      width: 80%;
      max-width: 7.4rem;

      @media (max-width: 62.499rem) {
        max-width: 6.4rem;
      }

      @media (max-width: 39.99rem) {
        max-width: 8rem;
      }
    }

    &.second-place {
      width: 80%;
      max-width: 5rem;

      @media (max-width: 39.99rem) {
        max-width: 4rem;
      }
    }

    &.third-place {
      width: 80%;
      max-width: 5rem;

      @media (max-width: 39.99rem) {
        max-width: 4rem;
      }
    }

    &.fourth-place {
      width: 80%;
      max-width: 5rem;

      @media (max-width: 39.99rem) {
        max-width: 4rem;
      }
    }

    &.fifth-place {
      width: 80%;
      max-width: 5rem;

      @media (max-width: 39.99rem) {
        max-width: 4rem;
      }
    }

    &.finalist {
      width: 80%;
      max-width: 6rem;

      @media (max-width: 39.99rem) {
        max-width: 5rem;
      }
    }
  }

  &__nav-candidate-info {
      overflow: hidden;
      margin: 0 0 1.1rem;
      padding: 1rem 1rem 0;
      border-top: 1px solid $c4;
      line-height: 1.2;
      color: $c6;

      @media (min-width: 62.5rem) {
        border-top: 0
      }

    &:nth-child(1) {
      border-top: 0;
    }

    @media (min-width: 62.5rem) {
      display: block;
      padding: 1.4rem 1rem;
      border-right: 2px solid $c4;
      border-bottom: 0;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 62.499rem) {
      display: inline-block;
      float: right;
      margin-bottom: 5.5rem;
      width: calc(100% - 15rem);
      height: calc(100% - 5.5rem);
    }

    @media (max-width: 39.99rem) {
      display: inline-block;
      float: left;
      width: calc(100% - 15rem);
      height: calc(100% - 1rem);
    }

    @media (max-width: 31.24rem) {
      display: inline-block;
      float: left;
      width: 50%;
      height: calc(100% - 1.1rem);
    }

    &__nav-candidate-info:nth-child(2) {
      border: 0
    }

  }
  
  // copy styles
  &__nav-candidate-name {
    @extend .p1;
    margin-bottom: 0.2rem;
    font-weight: 800;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
  }

  &__nav-candidate-email, &__nav-candidate-dept {
    @extend .p1;
  }

  &__nav-candidate-idea-label {
    margin-top: 0.3rem;
    // color: $c7;
    font-weight: bold;
    letter-spacing: 0.02rem;

    @media (min-width: 40rem) {
      margin-top: 0.5;
    }
  }

  &__nav-candidate-idea-copy {
    overflow: hidden;

    @media (max-width: 39.99rem) {
      height: 5rem;
    }

    @media (min-width: 40rem) {
      height: 2.6rem;
    }

    @media (min-width: 62.5rem) {
      height: 100%;
      overflow: hidden;
    }
  }

  &__nav-candidate-read-more-container {

    @media (min-width: 62.5rem) {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1rem;
      width: calc(100% - 2px);

      
      background-color: #fff;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+95&0+0,1+20 */
      background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 6.6%, rgba(255,255,255,1) 95%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 6.6%,rgba(255,255,255,1) 95%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 6.6%,rgba(255,255,255,1) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    }
  }

  &__nav-candidate-read-more {
      display: inline-block;
      margin-top: 1rem;
      padding: 1rem 2.5rem;
      background-color: $c2;
      font-weight: 800;
      letter-spacing: 0.03rem;
      text-align: center;
      text-transform: uppercase;

    @media (max-width: 39.99rem) {
      display: none;
    }

    @media (min-width: 62.5rem) {
      display: block;
      padding: 1rem 0;
      width: 100%;
    }

    @media (min-width: 40rem) and (max-width: 62.499rem) {
      position: absolute;
      left: 16rem;
      bottom: 1rem;
    }

    // @media (min-width: 62.5rem) {
    //   display: block;
      
    //   left: 1rem;
    //   width: calc(100% - 2rem);
    // }
  }


  // end slider nav ............................



  // SLIDER IN MODAL

  &__candidates {}

  &__candidates-modal-title {
    @extend .h1;
    position: relative;
    margin-left: 1.25rem;
    color:$c3;
    font-weight: 900;
    text-transform: uppercase;

    @media (min-width: 40rem) {
      margin-bottom: 5.225rem;
    }

    &:after {
      position: absolute;
      content: '';
      bottom: 0rem;
      left: 0;
      width: 5.625rem;
      height: 0.125rem;
      background: #c8ff00;
    }
  }

  &__candidate {
    padding: 1.7rem 1.25rem;

    @media (min-width: 40rem) {
      padding: 0 1.25rem 0rem;
    }

    @media (min-width: 62.5rem) {
      padding: 0 1.25rem 5rem;
    }

    &:focus {
      outline: 0;
    }
  }


  &__candidate-info {
    
    @media (min-width: 40rem) {
      display: inline-block;
      margin-left: 2.8rem;
      width: calc(100% - 18.2rem);
    }

    @media (min-width: 60rem) {
      margin-left: 6.2rem;
      width: calc(100% - 26.1rem);
    }
  }

  &__candidate-image {
    @extend .p1;
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    line-height: 1.1;

    @media (max-width: 39.99rem) {
      width: 100%;
    }

    @media (min-width: 40rem) {
      width: 15rem;
    }
    
    @media (min-width: 60rem) {
      width: 19.5rem;
    }
  }

  &__candidate-image-container {
    display: block;
    position: relative;
    margin-bottom: 0.5rem;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    content: '';

    @media (min-width: 40rem) {
      // background-position: center;
      height: 16.5rem;
    }

    @media (max-width: 39.99rem) {
      // background-position: center;
      height: 20.5625rem;
      // background-position: center 17%;
    }
  }

  &__candidate-info {
    @extend .p1;
    color: #ffffff;
    line-height: 1.3;
  }

  &__candidate-name {
    color: $c2;
    font-weight: 800;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
  }

  &__candidate-email, &__candidaite-dept {
    line-height: 1;
  }

  &__candidate-idea-label {
    @extend .h2;
    margin: 0.8rem 0 0.4rem;
    color: $c2;
    font-weight: 800;
    letter-spacing: 0.02rem;
    text-transform: uppercase;

    @media (min-width: 40rem) {
      margin: 0 0 1.2rem;
      line-height: 0.8
    }
  }

  &__candidate-idea-copy-container {
    overflow-y: scroll;
    padding-right: 0.5rem;
    height: 25.3rem;

    @media (max-width: 39.99rem) {
      height: 18rem;
    }
  }

  &__candidate-idea-copy {
    margin-bottom: 1.4rem;

    @media (min-width: 40rem) {
      line-height: 1.45;
    }
  }

  // end slider in modal ............................


  // CANDIDATE IMAGES - both sliders
  
  // candidate images for
  &__nav-candidate {
    
    // 1st candidate
    &:nth-child(1) {
      
      .top-5-slide__nav-candidate-image {
        background-image: url('/next/images/vca-next-top-5-ideas-1st-place-julie-lu-jeannette-kallas-jeannie-copeland--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-1st-place-julie-lu-jeannette-kallas-jeannie-copeland.jpg');
        }
      }

    } // end 1st candidate

    &:nth-child(2) {
      .top-5-slide__nav-candidate-image {
        background-image: url('/next/images/vca-next-top-5-ideas-kevin-salazar--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-kevin-salazar.jpg');
        }
      }

    } // end 2nd candidate
    
    // 3rd candidate
    &:nth-child(3) {
      .top-5-slide__nav-candidate-image {
        background-image: url('/next/images/vca-next-top-5-ideas-george-zlenko--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-george-zlenko.jpg');
        }
      }

    } // end 3rd candidate
    
    // 4th candidate
    &:nth-child(4) {
      .top-5-slide__nav-candidate-image {
        background-image: url('/next/images/vca-next-top-5-ideas-michael-salazar--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-michael-salazar.jpg');
        }
      }

    } // end 4th candidate
    
    // 5th candidate
    &:nth-child(5) {
      .top-5-slide__nav-candidate-image {
        background-image: url('/next/images/vca-next-top-5-ideas-shelly-krieger--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-shelly-krieger.jpg');
        }
      }

    } // end 5th candidate
  
  }

  // candidate images in modal
  &__candidate {
    
    // 1st candidate
    &:nth-child(2) {
      
      .top-5-slide__candidate-image-container {
        background-image: url('/next/images/vca-next-top-5-ideas-1st-place-julie-lu-jeannette-kallas-jeannie-copeland--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-1st-place-julie-lu-jeannette-kallas-jeannie-copeland.jpg');
        }
      }

    } // end 1st candidate

    &:nth-child(3) {
      
      .top-5-slide__candidate-image-container {
        background-image: url('/next/images/vca-next-top-5-ideas-kevin-salazar--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-kevin-salazar.jpg');
        }
      }

    } // end 2nd candidate
    
    // 3rd candidate
    &:nth-child(4) {
      
      .top-5-slide__candidate-image-container {
        background-image: url('/next/images/vca-next-top-5-ideas-george-zlenko--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-george-zlenko.jpg');
        }
      }

    } // end 3rd candidate
    
    // 4th candidate
    &:nth-child(5) {
      
      .top-5-slide__candidate-image-container {
        background-image: url('/next/images/vca-next-top-5-ideas-michael-salazar--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-michael-salazar.jpg');
        }
      }

    } // end 4th candidate
    
    // 5th candidate
    &:nth-child(6) {
      
      .top-5-slide__candidate-image-container {
        background-image: url('/next/images/vca-next-top-5-ideas-shelly-krieger--mobile.jpg');

        @media (min-width: 40rem) {
          background-image: url('/next/images/vca-next-top-5-ideas-shelly-krieger.jpg');
        }
      }

    } // end 5th candidate
    
  }

  // end candidates image ............................  


  // SLICK STYLES

  &__candidates-modal {
    
    .slick-arrow {
      z-index: 9999;
      background-color: $c1;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: darken($c1, 7%);
      }

      @media (min-width: 40rem) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%);
        margin-top: -4rem;
        font-size: 0;
      }

      @media (min-width: 62.5rem) {
        margin-top: 0;
      }

      @media (min-width: 40rem) and (max-width: 62.499rem) {
        height: 2.4rem;
        width: 2.1rem;
        background-position: 56% center;
        text-indent: 150%;
      }
    }

    .slick-next {

      @media (max-width: 39.99rem) {
        border-left: 3px solid lighten($c1, 6%);
      }

      @media (min-width: 62.5rem) {
        right: 0;
      }
    }

  }

  // end slick styles ............................  


  // TOP 5 MODAL

  &__candidates-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: $c7;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    
    @media (max-width: 61.4999rem) {
      overflow-y: scroll;
    }

    @media (min-width: 62.5rem) {
      overflow: hidden !important;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__candidates-modal-container {
    position: relative;
    z-index: 99999;
    width: 100%;
    max-width: 62.6rem;
    height: auto;

    @media (max-width: 39.99rem) {
      padding-top: 1.8rem;
    }

    @media (min-width: 40rem) {
      top: 50%;
      left: 50%;
      z-index: 999;
      width: 100%;
      max-width: 62.6rem;
      height: auto;
      transform: translate(-50%, -50%)
    }
  }

  &__close {
    z-index: 999999;

    @media (max-width: 39.99rem) {
      // margin-top: 1rem;
    }
  }

  // end top 5 modal
}


