.top-11-info-modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(24, 24, 24, 0.8);

  &.open {
    opacity: 1;
    visibility: visible;
  }

  &__container {
    position: relative;
    padding: 2.8rem 1.225rem;
    background-color: $c7;
    width: 100%;
    height: 100%;
    color: $c9;

    @media only screen and (max-width: 49.99rem) {
      overflow: scroll;
    }
    
    @media only screen and (min-width: 50rem) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 5.8rem 3.5rem;
      width: 62rem;
      max-width: 47.75rem;
      height: 37rem;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-transform: uppercase;
    color: $c2;
    font-weight: bold;
    font-size: $p2;

    &:hover {
      cursor: pointer;
    }

    .icon {
      display: inline-block;
      margin-right: 0.3rem;
      width: 0.65rem;
      height: 0.65rem;

      svg {
        display: block;
        fill: $c2;
      }
    }
  }

  &__title {
    @extend .h1;
    position: relative;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 900;

    &:after {
      position: absolute;
      content: '';
      bottom: rem(0);
      left: 0;
      width: rem(90);
      height: rem(2);
      background: $c2;
    }
  }
}