/* Top grey bar */
.top-bar {
  background: $c7;
  width: 100%;
  height: rem(40);
  position: absolute;
  top: 100vh;
  line-height: rem(40);
  z-index: 3;
  overflow: hidden;
  font-size: $p2;
  font-weight: 800;
  padding: 0 rem(20);
  text-transform: uppercase;
  &.fixed {
    position: fixed;
    top: 0;
  }
}

#count-down {
  float: left;
  color: $c4;
  .green {
    color: $c2;
  }
  .full {
    display: none;
  }
}

#submit-idea {
  float: right;
  color: $c2;
  position: relative;
  padding-left: rem(28);
  span {
    display: none;
  }
  svg {
    width: rem(19);
    position: absolute;
    top: 50%;
    margin-top: rem(-9);
    fill: $c2;
    left: 0;
  }
}

@media only screen and (min-width: 50rem) {
  #submit-idea {
    span {
      display: inline;
    }
  }

  #count-down {
    .full, .both {
      margin: 0 rem(5)
    }
    .full {
      display: inline-block;
    }
    .mobile {
      display: none;
    }
  }
}

@media only screen and (min-width: 62.5rem) and (min-height: 46.25rem) {
  .top-bar {
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0);
    @include transition(background 0.2s);
    &.fixed {
      position: fixed;
      top: 0;
    }
  }

  .top-bar-bg {
    position: fixed;
    top: rem(-40);
    left: 0;
    width: 100%;
    height: rem(40);
    background: $c7;
    @include transition(top 0.2s);
    &.active {
      top: rem(0);
    }
  }

  #count-down {
    position: relative;
    z-index: 2;
  }
}
