@media only screen and (min-width: 62.5rem) and (min-height: 46.25rem) {

  // Heading Green Transitions
  .sub-headings {
    height: rem(125);
    h2 {
      display: block;
      opacity: 0;
      @include transition(all 0.4s);
      @include transition-delay(opacity, 0.4s);
      &:after {
        width: rem(90);
        transform: translateX(100px);
        @include transition(width 0.4s);
        @include transition-delay(0s);
      }
    }
  }

  .fullpage-heading {
    @include transform(translateX(2rem));
    @include transition-delay(0.6s);
    display: block;
    padding: rem(8) 0;
    &:after {
      width: rem(90);
    }
    &.full-active {
      @include transform(translateX(0));
      opacity: 1;
      &:after {
        @include transition-delay(2s);
        @include transform(translateX(0));
      }
    }
  }

  // Contest Transitions
  .contest-slide-left {
    opacity: 0;
    @include transition(all 0.6s);
    @include transform(translateX(2rem));
    @include transition-delay(0.2s);
    &.full-active {
      opacity: 1;
      @include transform(translateX(0));
    }
  }

  .contest-slide-right {
    opacity: 0;
    @include transition(all 0.6s);
    @include transform(translateX(2rem));
    @include transition-delay(0.4s);
    &.full-active {
      opacity: 1;
      @include transform(translateX(0));
    }
  }

  // Gallery Transitions
  .gallery-slideshow {
    opacity: 0;
    @include transition(opacity 0.6s);
    @include transition-delay(0.2s);
    &.full-active {
      opacity: 1;
    }
  }

  // Questions Transitions
  .questions, .top-5, .top-11 {
    opacity: 0;
    @include transform(translateX(2rem));
    @include transition(all 0.6s);
    @include transition-delay(0.2s);
    &.full-active {
      opacity: 1;
      @include transform(translateX(0));
    }
  }

  // Intro Transitions
  .top-bar {
    opacity: 0;
    @include transition(opacity 0.4s);
    @include transition-delay(0.4s);
    &.full-active {
      opacity: 1;
    }
  }

  h1 {
    opacity: 0;
    @include transition(all 0.6s);
    @include transition-delay(0.6s);
    @include transform(translateY(2rem));
    &.full-active {
      opacity: 1;
      @include transform(translateY(0rem));
    }
  }

  .vca-next-transition {
    opacity: 0;
    @include transition(all 0.6s);
    @include transition-delay(0.8s);
    @include transform(translateY(2rem));
    &.full-active {
      opacity: 1;
      @include transform(translateY(0rem));
    }   
  }

  .intro-slide-right {
    opacity: 0;
    @include transition(all 0.6s);
    @include transition-delay(1s);
    @include transform(translateX(2rem));
    &.full-active {
      opacity: 1;
      @include transform(translateX(0rem));
    }   
  }

  #scroll-down {
    opacity: 0;
    @include transition(all 0.4s);
    @include transform(translateY(2rem));
    @include transition-delay(1.2s);
    &.full-active {
      opacity: 1;
      @include transform(translateY(0));
    }   
  }

  #magic-line {
    opacity: 0;
    @include transition(all 0.4s);
    @include transform(translateX(2rem));
    &.full-active {
      opacity: 1;
      @include transform(translateX(0));
    }
  }
}