// Font Stack
$stack: 'proxima-nova', helvetica, arial, sans-serif;

// Colors
$c1: #0666e5;
$c2: #c8ff00;
$c2t: rgba(200, 255, 0, 0.9); // translucent
$c3: #f0f0f0;
$c4: #bfbfbf;
$c5: #8f8f8f;
$c6: #515151;
$c7: #2b2b2b;
$c8: #363636;
$c9: #fff;

// Font Sizes
$h1: rem(42);
$h1m: rem(36); // mobile
$h2: rem(33);
$h2m: rem(22); //mobile
$h3: rem(24);
$p1: rem(16);
$p2: rem(14);
$p3: rem(13);

.h1 {
  font-size: rem(36);

  @media only screen and (min-width: 50rem) {
    font-size: rem(42);
  }
}

.h2 {
  font-size: rem(22);

  @media only screen and (min-width: 50rem) {
    font-size: rem(33);
  }
}

.p1 {
  font-size: rem(16);
}

.p2 {
  font-size: rem(14);
}

.p3 {
  font-size: rem(13);
}