.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  background: $c8;
  width: 100%;
  height: 100%;
  @include transition(opacity 0.2s);
  video {
    width: 90%;
    max-width: rem(800);
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    @include transform(translate(-50%, -50%));
  }
  &.video-active {
    opacity: 1;
    z-index: 999;
  }
}

.close-video-modal {
 position: absolute;
 top: 0;
 right: rem(20);
  a {
    display: inline-block;
    padding-left: rem(18);
    margin: rem(20) 0;
    color: $c2;
    font-weight: 700;
    text-transform: uppercase;
    font-size: $p3;
    position: relative;
    svg {
      fill: $c2;
      width: rem(11);
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: rem(-6);
    }
  }
}