<div class="comp-summary">
  <div class="comp-summary__container">
    
    <div class="comp-summary__close">
      <span class="icon">
        include "close-modal-icon.html"
      </span>
      close
    </div>

    <div class="comp-summary__title">Program Summary</div>

    <div class="comp-summary__copy">VCA NEXT is our new annual program to help drive the future of VCA from within. This is an opportunity to reward those "what if" moments that spark innovation from our own employees. With more than 500 VCA Hospitals, ANTECH, AVC (Canada) and Sound employees submitting an idea, approximately 60 were chosen to move on to the 2nd round and present to regional leaders around the country and Canada. The 11 employees shown on this page were selected to compete in the VCA NEXT Championship in Los Angeles, CA on August 18th. These employees have been vigorously working on their unique ideas and presented their concepts to the founders of VCA as well as top executives from around the country. These executives watched to each presentation and were tasked with the difficult decision to choose the top idea from this year’s competition. On this page you will see all the concepts that made it to the Championship Round as well as the winning idea.
    </div>

    <div class="comp-summary__copy">
    There will be another chance to participate in the VCA NEXT Competition in 2017!</div>

    <div class="comp-summary__copy">Our 1st Annual VCA NEXT Competition was completed on August 18th 2016 with the championship taking place at the Support Office. Below are all the ideas that made it to the final round and the employees that created them!</div>

  </div>
</div>