

    <div class="contest-slide-content clearfix">
      <div class="contest-slide-left">
        <h3>Program Overview</h3>
        <p>Online Submissions will be accepted from April 18 - May 27.  All ideas will be judged on the following: </p>
        <ol class="guidelines-list">
          <li>Benefit to VCA</li>
          <li>Benefit to Pets and/or Customer</li>
          <li>Uniqueness of Idea to VCA/Antech/Sound/AVC</li>
          <li>Scalability</li>
          <li>"Wow" Factor</li>
        </ol>
        <p>Judges will anonymously be scoring each idea that comes through the online portal. The Top 5 ideas region will be chosen to move on to the next round based on the criteria listed above.</p>
        <p>Your ideas can be a unique concept around VCA's current business or be a new idea that VCA has never explored. You will have the ability to present your idea multiple times, and develop your concepts and yourself along the way. Throughout the competition, there will be mentoring sessions and workshops to improve your abilities and your confidence. Be creative, be unique and be confident in yourself.</p>
        <p>Ideas will not be based on your presentation skills but solely on your idea. You will still have to be able to present your idea that shows VCA why your idea is the best idea!</p>
      </div>

      <div class="contest-slide-right">
        <h3>Prizes</h3>
        <p>After all presentations have been given, the winners will then be decided that same day by the Executive Panel.</p>
        <p>The prizes will then be awarded in accordance to placing:</p>
        <ol class="prizes-list">
          <li>
            <span class="place">1<span class="ordinal">st</span> Place</span>
            $10,000
          </li>
          <li>
            <span class="place">2<span class="ordinal">nd</span> Place</span>
            $5,000
          </li>
          <li>
            <span class="place">3<span class="ordinal">rd</span> Place</span>
            $2,500
          </li>
          <li>
            <span class="place">4<span class="ordinal">th</span> Place</span>
            $1,500
          </li>
          <li>
            <span class="place">3<span class="ordinal">rd</span>-5<span class="ordinal">th</span> Place</span>
            $1,000
          </li>
        </ol>
        <p>If your idea wins, you will also get the ability to help VCA research how we could implement your idea.</p>
      </div>
    </div>

    <img id="contest-dog" src="./images/vca-next-dog-the-contest.png" alt="brown dog">