<div class="master-footer">
    include "innovation-logo.html"
    <p class="copy">Copyright &copy; 2015 All Rights Reserved</p>
</div>

<a href="#" id="to-top">
  include "to-top-icon.html"
  Top
</a>

include "top-11-information-modal.html"
include "comp-summary.html"