<div class="form-modal">
  <div class="width-wrapper">

    <div class="form-modal-left">
      <h2>Submission Guidelines</h2>
      <p>All ideas are submitted online and the Top 5 Ideas per Region will be chosen to do a live presentation of their idea in front of judges in those regions.  Those judges in each group will select one winning idea that will present in front of a VCA Executive Panel for a chance to win the 1st National VCA Next Championship in Los Angeles on August 18, 2016!</p>
      <ol class="guidelines-list">
        <li>Ideas are to further VCA, its Mission and its Employees.</li>
        <li>All ideas must be submitted online.</li>
        <li>VCA Next cannot take priority over your existing employee duties/role.</li>
        <li>Only one idea can be submitted per employee.</li>
        <li>Teams submissions are allowed and encouraged (Prizes will be split).</li>
        <li>An idea concept can only be submitted once.</li>
      </ol>

      <h2>Prizes</h2>
      <p>After all presentations are completed at the VCA Next Championship in Los Angeles, the winners will then be decided that same day by the VCA Executive Panel.</p>
      <p>The prizes will then be awarded in accordance to placing:</p>
      <ol class="prizes-list">
        <li>
          <span class="place">1<span class="ordinal">st</span> Place</span>
          $10,000
        </li>
        <li>
          <span class="place">2<span class="ordinal">nd</span> Place</span>
          $5,000
        </li>
        <li>
          <span class="place">3<span class="ordinal">rd</span> Place</span>
          $2,500
        </li>
        <li>
          <span class="place">4<span class="ordinal">th</span> Place</span>
          $1,500
        </li>
        <li>
          <span class="place">5<span class="ordinal">th</span> Place</span>
          $1,000
        </li>
      </ol>
      <br />
      <p>If your idea wins, you will also get the ability to help VCA research how we could implement your idea.</p>
    </div>

    <div id="form-message" style="display:none;">
      <h2>Thank you<br />for your submission</h2>
    </div>

    <iframe frameborder="0" name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted){document.getElementById('form-message').style.display='block';document.getElementById('submit-form').setAttribute('style', 'opacity: 0; display: none;');}"></iframe>

    <form id="submit-form" class="wufoo topLabel page" name="form1" accept-charset="UTF-8" enctype="multipart/form-data" method="post" action="https://vcanext.wufoo.com/forms/z1urdhjo0erfs1j/#public" target="hidden_iframe" onsubmit="formValidate()">

      <div class="form-top">
        <h2>Submit your brilliant idea</h2>
        <p>This is your chance to shine! We want to hear about your idea. This is your space to do so, but remember, this is a pitch so you need to be savvy about what you say. Be concise, be creative and get your message across. We cannot wait to see what you come up with!</p>
      </div>  

      <div id="error-message">Input fields cannot be empty</div>

      <div class="side-by-side">
        <div class="field">
          <label id="title1" for="Field1">Your Name</label>
          <input id="Field1" name="Field1" type="text" class="field text medium input-field" maxlength="255" tabindex="1" required/>
        </div>

        <div class="field">

          <label class="desc" id="title2" for="Field212">Group</label>
          <div>
            <select class="field select medium select-dropdown" id="Field212" name="Field212"
            tabindex="2" required>
              <option selected="selected" value="Central">
                Central
              </option>
              <option value="Mid-Atlantic">
                Mid-Atlantic
              </option>
              <option value="North East">
                North East
              </option>
              <option value="Northwest">
                Northwest
              </option>
              <option value="Northern California/Hawaii">
                Northern California/Hawaii
              </option>
              <option value="So-Cal">
                So-Cal
              </option>
              <option value="Southeast">
                Southeast
              </option>
              <option value="Southwest">
                Southwest
              </option>
              <option value="Canada (AVC)">
                Canada (AVC)
              </option>
              <option value="Other">
                Other
              </option>
            </select>
          </div>

        </div>
      </div>

      <div class="side-by-side">
        <div class="field">
          <label class="desc" id="title2" for="Field215">Division</label>
          <div>
            <select class="field select medium select-dropdown" id="Field215" name="Field215"
            tabindex="2" required>
              <option value="Hospital" selected="selected">
                Hospital
              </option>
              <option value="Antech">
                Antech
              </option>
              <option value="Sound">
                Sound
              </option>
              <option value="Other">
                Other
              </option>
            </select>
          </div>
        </div>
        <div class="field">
          <label class="desc" for="Field4" id="title4">Current Position</label>
          <input class="field text medium" id="Field4" maxlength="255" name="Field4" tabindex="4" type="text" value="" required>
        </div>
      </div>

      <div class="field">
        <label class="desc" id="title210" for="Field210">Email</label>
        <input id="Field210" name="Field210" type="text" class="field text medium" value="" maxlength="255" tabindex="5" required />
      </div>

      <div class="field">
        <label class="desc" id="title5" for="Field5">Idea Title</label>
        <input id="Field5" name="Field5" type="text" class="field text medium" value="" maxlength="255" tabindex="6" required />
      </div>

      <div id="description-error-message">Please keep your description within 250 words.</div>

      <div class="field text-area">
        <label class="desc" id="title6" for="Field6">Idea Description</label>
        <textarea id="Field6" 
        name="Field6"
        class="field textarea medium"
        spellcheck="true"
        rows="10" 
        cols="50"
        tabindex="7"
        onkeyup="validateRange(6, 'word');"
        required></textarea>
        <label for="Field6" class="word-count">Maximum Allowed: <var id="rangeMaxMsg6">250</var> words.&nbsp;&nbsp;&nbsp; <em class="currently">Currently Used: <var id="rangeUsedMsg6">0</var> words.</em></label>
      </div>

      <div class="field">
        <label class="desc" id="title208" for="Field208">
          Upload additional information that pertains to your idea.
        </label>
        <div>
          <input id="Field208" name="Field208" type="file" class="field file" size="12" tabindex="7"       />
        </div>
      </div>
      
      <div id="terms-error-message">*You must agree to the terms and conditions to submit your idea.</div>

      <div class="field checkbox">
        <label class="choice" for="Field107">You hereby acknowledge that (1) your submission and their contents, will automatically become property of VCA, without any compensation to you, and (2) VCA and its affilated companies may use and expoit your submission and their contents, for any purpose and in any way.  Please see the <a class="terms-open"><u>VCA NEXT Terms and Conditions</u></a> for more information.</label>
        <input id="Field107" name="Field107" type="checkbox" class="field checkbox" value="I agree that once I submit my idea to VCA, it will become property of VCA." tabindex="7" required/>
      </div>

      <div class="field">
        <input id="saveForm" name="saveForm" class="button" type="submit" value="Submit" />
      </div>

      <div class="hidden-field">
        <label for="comment">Do Not Fill This Out</label>
        <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
        <input type="hidden" id="idstamp" name="idstamp" value="vez/kFnUkrdqF/21uBq723fY+EW4LHiCZB5eL4EnJbI=" />
      </div>

    </form>

  </div>

  <div class="close-modal">
    <a>
      include "close-modal-icon.html"
      Close
    </a>
  </div>

</div>