<div class="success-modal">
  <div class="width-wrapper">

    <div class="success-modal-text">
      include "vca-next-logo-unified.html"

      <h2>Thank you for your idea!</h2>
      <p>Be sure to check your email regularly for updates</p>
      <a id="back-home" class="button">Back to home</a>
    </div>
    
  </div>
</div>