<div class="form-modal coming-soon">
  <div class="width-wrapper">
    
    <div class="coming-soon-copy">
      <h2>VCA NEXT 2017 WILL BEGIN TUESDAY, JANUARY 10TH AT 5AM PST / 8AM EST</h2>
      <!-- <p>We look forward to your participating in our future VCA NEXT competition in 2017</p> -->
    </div>

  </div>

  <div class="close-modal">
    <a>
      include "close-modal-icon.html"
      Close
    </a>
  </div>

</div>