  <div id="fullpage">
    <div class="section">

      <div class="slide">
        include "intro-slide.html"
      </div>
      
      <!-- Intro Slide -->

      <div class="slide">
        <div id="contest" class="contest-slide">

          <div class="top-blue">
            <div class="master-header clearfix">
              <a class="logo intro-link">VCA Next</a>

              <ul class="master-nav">
                <li><a class="contest-link active" href="#contest">The Contest</a></li>
                <li><a class="top-eleven-link" href="#top-11" >Top 11 Finalists</a></li>
                <li><a class="ideas-link" href="#ideas">Ideation Resources</a></li>
                <li><a class="top-five-link" href="#top-5" >Top 5 Ideas</a></li>
                <li><a class="questions-link" href="#questions">FAQ</a></li>
                <span id="magic-line" class="magic-line"></span>
              </ul>
            </div>

            <div class="sub-headings">
              <div class="contest-heading-wrapper">
                <h2 class="sub-heading contest-heading fullpage-heading">The Contest</h2>
              </div>
            </div>
          </div>

          <div class="width-wrapper clearfix">
            include "contest-slide.html"
          </div>
        </div>
      </div>
      
      <!-- Top 11 Finalists -->

      <div class="slide">
        <div id="top-11" class="top-11-slide">


          <div class="top-blue">
            <div class="master-header clearfix">

              <a class="logo intro-link">VCA Next</a>

              <ul class="master-nav">
                <li><a class="contest-link" href="#contest">The Contest</a></li>
                <li><a class="top-eleven-link active" href="#top-11" >Top 11 Finalists</a></li>
                <li><a class="ideas-link" href="#ideas">Ideation Resources</a></li>
                <li><a class="top-five-link" href="#top-5" >Top 5 Ideas</a></li>
                <li><a class="questions-link" href="#questions">FAQ</a></li>
                <span id="magic-line2" class="magic-line"></span>
              </ul>
            </div>
            <div class="sub-headings">
                <h2 class="sub-heading top-11-heading fullpage-heading top-11-page-title">
                  Top 11 Finalists
                  <span class="icon-plus">
                    include "plus-icon.html"
                  </span>
                </h2> 
            </div>
          </div>
          include "top-11-slide.html"
        </div>
      </div>
      
      <!-- Ideation Resources -->

      <div class="slide">
        <div id="ideas" class="gallery-slide">


          <div class="top-blue">
            <div class="master-header clearfix">

              <a class="logo intro-link">VCA Next</a>

              <ul class="master-nav">
                <li><a class="contest-link" href="#contest">The Contest</a></li>
                <li><a class="top-eleven-link" href="#top-11" >Top 11 Finalists</a></li>
                <li><a class="ideas-link active" href="#ideas">Ideation Resources</a></li>
                <li><a class="top-five-link" href="#top-5" >Top 5 Ideas</a></li>
                <li><a class="questions-link" href="#questions">FAQ</a></li>
                <span id="magic-line3" class="magic-line"></span>
              </ul>
            </div>
            <div class="sub-headings">
                <h2 class="sub-heading ideas-heading fullpage-heading">Ideation Resources</h2>
            </div>
          </div>
          include "ideas-slide.html"
        </div>
      </div>
      
      <!-- Top 5 Ideas -->

      <div class="slide">
        <div id="top-5" class="top-5-slide">


          <div class="top-blue">
            <div class="master-header clearfix">

              <a class="logo intro-link">VCA Next</a>

              <ul class="master-nav">
                <li><a class="contest-link" href="#contest">The Contest</a></li>
                <li><a class="top-eleven-link" href="#top-11" >Top 11 Finalists</a></li>
                <li><a class="ideas-link" href="#ideas">Ideation Resources</a></li>
                <li><a class="top-five-link active" href="#top-5" >Top 5 Ideas</a></li>
                <li><a class="questions-link" href="#questions">FAQ</a></li>
                <span id="magic-line4" class="magic-line"></span>
              </ul>
            </div>
            <div class="sub-headings">
                <h2 class="sub-heading top-5-heading fullpage-heading top-5-page-title">
                  Top 5 Ideas - Support Office 
                  <div class="page-title-information-icon">
                    include "information.html"
                  </div>
                </h2> 
            </div>
          </div>
          include "top-5-slide.html"
        </div>
      </div>
      
      <!-- Questions -->

      <div class="slide">
        <div id="questions" class="questions-slide">

          <div class="top-blue">
            <div class="master-header clearfix">

              <a class="logo intro-link">VCA Next</a>

              <ul class="master-nav">
                <li><a class="contest-link" href="#contest">The Contest</a></li>
                <li><a class="top-eleven-link" href="#top-11" >Top 11 Finalists</a></li>
                <li><a class="ideas-link" href="#ideas">Ideation Resources</a></li>
                <li><a class="top-five-link" href="#top-5" >Top 5 Ideas</a></li>
                <li><a class="questions-link active" href="#questions">FAQ</a></li>
                <span id="magic-line5" class="magic-line"></span>
              </ul>

            </div>

            <div class="sub-headings">
                <h2 class="sub-heading questions-heading fullpage-heading">FAQ</h2>
            </div>
          </div>

          include "questions-slide.html"
        </div>
      </div>
    </div>
  </div>

include "top-5-information-modal.html"
<div class="top-5-candidate-modal-container">
  include "top-5-candidate-modal.html"
</div>

<div class="top-11-candidate-modal-container">
  include "top-11-candidate-modal.html"
</div>