  <div class="gallery-mobile-content">
  </div>

    <div class="gallery-slideshow">

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-1.jpg');">
          <div class="gallery-inner">
            <h3>Where Do Good Ideas Come From</h3>
            <p>How do we find good ideas?  What patterns and situations allow good ideas to come from?  The following will give you an interesting look at the evolution of how ideas are created.
              <p class="resource-link">
                <a href="https://www.youtube.com/watch?v=NugRZGDbPFU" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-2.jpg');">
          <div class="gallery-inner">
            <h3>The Art of Innovation (Ted Talk)</h3>
            <p>An interesting take on how unique ideas have created some of the best companies in the world.  10 steps of what good ideas are made of, how they are implemented in a company and how they have succeeded.
              <p class="resource-link">
                <a href="https://www.youtube.com/watch?v=Mtjatz9r-Vc" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-3.jpg');">
          <div class="gallery-inner">
            <h3>How to Come Up With a Business Idea</h3>
            <p>A simple step process of creating ideas, evaluating them and making them a reality..
              <p class="resource-link">
                <a href="http://www.wikihow.com/Come-Up-With-a-Business-Idea" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-4.jpg');">
          <div class="gallery-inner">
            <h3>The Single Biggest Reason Why Start-Ups Succeed (Ted Talk)</h3>
            <p>By gathering data on hundreds of companies like AirBnB, Bill Gross discusses what factors play a role in launching successful ideas.  When developing ideas, whether it is for an existing company or starting a whole new one, this is very interesting about what factors are common across the board.</p>
              <p class="resource-link">
                <a href="https://www.ted.com/talks/bill_gross_the_single_biggest_reason_why_startups_succeed" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-5.jpg');">
          <div class="gallery-inner">
            <h3>Six Creative Ways to Brainstorm Ideas</h3>
            <p>6 creative ways to overcome roadblocks during your idea creation.  There are different ways to brainstorm, such as, Mind Mapping, Right Braining and others!
              <p class="resource-link">
                <a href="https://www.youtube.com/watch?v=yAidvTKX6xM" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-6.jpg');">
          <div class="gallery-inner">
            <h3>How to Find Business Ideas</h3>
            <p>If you are frustrated when you try to create an idea?  This is an interesting way to see how to generate, create and build an idea.
              <p class="resource-link">
                <a href="https://www.youtube.com/watch?v=cIsA1s9SwEU" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-7.jpg');">
          <div class="gallery-inner">
            <h3>What Motivates People</h3>
            <p>What motivates people?  Is it monetary rewards, appreciation or something else?</p>
              <p class="resource-link">
                <a href="https://www.youtube.com/watch?v=u6XAPnuFjJc" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div class="gallery-slide-single">
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-8.jpg');">
          <div class="gallery-inner">
            <h3>Creative Thinking: How to Get Out of the Box (Ted Talk)</h3>
            <p>The science and application of creative thinking.  Can we jump out of the box and get away from the safety of standard thinking?
              <p class="resource-link">
                <a href="https://www.youtube.com/watch?v=bEusrD8g-dM" target="_blank">View Resource ></a>
              </p>
            </p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <!-- <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-9.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-10.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-1.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-2.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-3.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-4.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-5.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div>

      <div>
        <div class="gallery-image" style="background-image: url('./images/vca-next-thumbnail-6.jpg');">
          <div class="gallery-inner">
            <h3>Life Saver 3000</h3>
            <p>Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah Blah blah blah</p>
            <a class="open-image">
              include "to-top-icon.html"
            </a>
            <a class="close-image">
              include "close-modal-icon.html"
            </a>
          </div>
        </div>
      </div> -->



  </div>
