<div class="intro-slide">
  <div class="width-wrapper">

    <div class="intro-slide-content">
      
      <div class="intro-slide-left">
        <h1>VCA Next</h1>
        <div class="vca-next-transition">
          include "vca-next-logo-unified.html"
        </div>
      </div>

      <div class="intro-slide-right">
        <h2>Imagine. Inspire. Ignite.</h2>
        <p>Introducing VCA Next, our new annual program to help drive the future of VCA from within. An opportunity to reward those "what if" moments that spark innovation. We are explicitly asking for your creativity, your passion and those brilliant untapped resources from within the minds of our own people.  We are providing an environment to turn the best ideas into a reality for the betterment of our organization, through you!</p>
        <!-- comment out until new vid is available -->
        <a class="watch-video" href="#">
          include "video-play-icon.html"
          Watch Video
        </a>
      </div>
      
    </div>
    
    <a id="scroll-down">
      include "scroll-down-icon.html"
      <span class="mobile-scroll-down">Scroll Down</span><span class="full-scroll-down">Scroll to Continue</span>
    </a>    
  </div>
    <video id="bg-video" autoplay loop>
      <source src="./videos/vca-next-background-video-animation.mp4" type="video/mp4">
      <source src="./videos/vca-next-background-video-animation.ogg" type="video/ogg">
    </video>
</div>