  <div id="mobile">
    include "intro-slide.html"
    <div id="contest" class="contest-slide">
        include "top-blue.html"
      <div class="width-wrapper clearfix">
        include "contest-slide.html"
      </div>
    </div>
    <div id="top-11" class="top-5">
      include "top-11-slide.html"
    </div>
    <div id="ideas" class="gallery-slide">
      include "ideas-slide.html"
    </div>
    <div id="top-5" class="top-5">
      include "top-5-slide.html"
    </div>
    <div id="questions" class="questions-slide">
      include "questions-slide.html"
    </div>
  </div>