  <div class="width-wrapper vh-fix">


    <div class="questions">

      <div class="question">
        <div class="question-title">
          <h3>Who can participate?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>All Hospital, Antech, Sound and AVC Employees throughout the US and Canada.</p>
      </div>
    
      <div class="question">
        <div class="question-title">
          <h3>Terms &amp; Conditions</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p><a class="terms-open"><u>Click here</u></a> to view the Terms &amp; Conditions</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What happens to my submission?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Ideas will be submitted through the online portal where they will be compiled, given anonymously to judges across the country to pick the Top 5 ideas per region for the 1st rounds of presentations.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What are the dates that I will have to be available on throughout the competition?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>There will be multiple dates that you will have to be avaiable for throughout the competition: Online Idea Submissions are accepted: April 18 - May 27. Mentoring sessions: June 6-June 20. Your first presentation will be between: June 20-July 8. The VCA Next Championship will be the week of August 15 with your final presentation on August 18. You will have to be available for all presentation days, so please be flexible and let your manager know if you will need to miss time to present.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What will my ideas be judged on?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Ideas will be judged on a 1-5 scale (5 being highest), on the following categories: Benefit to VCA, the Pet and/or Customer, Scalability, the "Wow Factor" and the Overall Uniqueness of Idea to VCA/Antech/Sound/AVC.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What ideas are VCA searching for and what will my ideas be judged on?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Ideas will be judged on a 1-5 scale (5 being highest), on the following categories: Benefit to VCA, the Pet and/or Customer, Scalability, the "Wow Factor" and the Overall Uniqueness of Idea to VCA/Antech/Sound/AVC.  All ideas are welcomed!  Your idea can be apart of the current VCA business or something unique that never has been done before.  When thinking of an idea, make sure you look at the judging criteria to help you.  Is there a process that you think should be changed?  Do you know of a technology that can help improve a current system?  Do you have an idea that VCA has never done before and it can revolutionize the way we do business?  We look forward to seeing whatever unique and creative ideas that come from your minds!</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>Will I have to miss work to particpate?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>All of the regional presentations will hopefully be located the majority of the employees who move on to that round.  If you are not able to drive to the presentation location, we will be offering the ability to present via webcam.  VCA will reimburse you for your mileage for any distance traveled further than your current drive to work.  For those of you who are selected for the VCA Next Championship, you will be flown to Los Angeles for your presentation.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>How many ideas can I submit?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Only one idea may be submitted per VCA Next Competition.  If you submit as a team, that will also count as your idea.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>Can I submit an idea with a team?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>We encourage any team collaboration!  Please note that any prizes won will be distributed equally between team members.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>If my idea wins the VCA Next competition, does that mean my idea will be implemented?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>If your idea wins the VCA Next competition, VCA will explore the idea and see how we can implement the idea. This does not guarantee that all aspects of the idea will become apart of VCA as presented or if we can implement the idea at all. The winning ideas will be explored with the goal of implementation but there is a chance we may not actually be able to realize the idea. The ideas that won 1st and 2nd place in the support office are currently being explored to see how we would implement them.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>Who owns the idea after its submitted?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Any idea submitted through the VCA Next program will become property of VCA.  Please see the <a class="terms-open"><u>Terms and Conditions</u></a> for futher information.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What is the VCA Mission Statement?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>"Where your pet's health is our top priority and excellent service is our goal."</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>Why did VCA create VCA Next?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>We wanted a program that starts with our employees.  You have unique backgrounds and abilities that we need you to use in new ways.  This program is meant to find ideas throughout the company but also to allow you to do something different and creative.  VCA Next was created for you!</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What is "Value"?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Value is any idea that can further VCA, whether that is financially, cost savings, enhancing the client experience, improving pet care or enhancing employee engagement.  There are many more examples of what "value is" to VCA. At the end, you will hopefully explain to us why your idea is valuable.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What is a "scalable" idea?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>If your idea will have high costs, take a long time to implement, or will have a hard time delivering revenues, savings or a higher level of pet care, then your idea is most likely not scalable.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What is the "Wow" Factor?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>The "Wow" Factor gives the ability to the judges to give points to ideas based on how they feel about it. If your idea really excites the judges, they can give more points (1-5) because they feel that this idea will be the next big thing.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>Who are the judges?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>There will be multiple sets of VCA judges throughout the whole competition. When you submit your idea online, VCA judges will include field managers and support office staff. All ideas in this step will be judged anonymously. Regional competition judges will consist of executives and managers. The championship round will have VCA founders and executives as judges.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What are "mentoring" sessions?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>If you have made it to the 1st round of presentations, you will be given a check in with a mentor to help you take your feedback and develop your idea for your next round of presentations. Only the 1st session is mandatory, if you would like more sessions, you will be encouraged to find time to do connects. These sessions are very valuable and will help you build your idea and presentation.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>How are winning ideas chosen?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>"For all rounds, judges will be given a scorecard to rate each idea. The top scores from all judges will select the winner for each round. Ideas will be judged on a 1-5 scale (5 being highest), on the following categories: Benefit to VCA, the Pet and/or Customer, Scalability, ""wow factor"" and the overall uniqueness of Idea to VCA/Antech/Sound/AVC. All ideas will be judged off of that criteria and not your presentation skills. You do have to sell your idea when you present. Even though you are not given a score on your presentation skills, you do have to make sure you have explained and showed the reason why your idea is the best idea.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>How often will the VCA Next Competition be taking place?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>VCA Next will be an annual competition that will invite all employees within VCA to participate.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What defines what an "idea" is?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>For all rounds, judges will be given a scorecard to rate each idea.  The top scores from all judges will select the winner for each round. Ideas will be judged on a 1-5 scale (5 being highest), on the following categories: Benefit to VCA, the Customer, the Pet, Scalability and overall uniqueness of the idea.  All ideas will be judged off of that criteria and not your presentation skills.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>If chosen, will I have to present in front of a large group?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>All of the regional presentations will hopefully be located the majority of the employees who move on to that round.  If you are not able to drive to the presentation location, we will be offering the ability to present via webcam.  VCA will reimburse you for your mileage for any distance traveled further than your current drive to work.  For those of you who are selected for the VCA Next Championship, you will be flown to Los Angeles for your presentation.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>How will prize money be given?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Prize Money will be given to Final Round Winners in an upcoming paycheck after the competition is over. The prize money will on your paycheck with the appropriate taxes factored in the final amount.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>Can I submit my ideas via my phone or tablet?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>Yes. <a href="http://www.VCAInnovation.com" target="_blank">www.VCAInnovation.com</a> is also a mobile site. Just click the "Submit Your Idea" button and you are ready to go!</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What if someone submitted the same idea as mine?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>There is a chance that your idea will be submitted by other employees. On your initial online submission, make sure that you really explain your idea. The idea that is presented the best during this submission and given the most points anonymously by the judges will move on.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>What if my idea is currently being implemented at VCA?</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>There is a chance that an idea that is submitted to VCA NEXT has already been in the process of being implemented. We will try to research each idea to find out if they idea is currently being worked on, has already been completed or was an idea that was already explored. If that is the case, you will be notified after the submission period is over that the idea has been or is currently being implemented by VCA.</p>
      </div>

      <div class="question">
        <div class="question-title">
          <h3>For Additional Questions</h3>
          <a class="question-toggle">
            include "question-toggle-icon.html"
          </a>
        </div>
        <p>If you have additional questions, please email Brandon Antin, Director of VCA Innovation at <a href="mailto:Brandon.Antin@VCA.com">Brandon.Antin@VCA.com</a></p>
      </div>

    </div><!-- Questions -->


  </div><!-- Width-wrapper -->

  <div class="dog-wrapper">
    <img id="questions-dog" src="./images/vca-next-dog-q-and-a.png" alt="pug">
  </div>
