<div class="terms">
  
  <div class="terms__container">

    <div class="terms__close">
      <div class="terms__close-button">Close</div>
    </div>

    <div class="terms__content">

      <div class="terms__title">Terms and Conditions</div>
      <p>These are the terms and conditions (these <b>"Terms and Conditions"</b> for participating in VCA Inc.’s <b><i>"VCA NEXT"</i></b> innovation competitions (<b>"VCA Next"</b> or <b>"Competition"</b>.  By entering into any Competition you (<b>"Participant"</b> or <b>"you"</b> confirm your acceptance of these Terms and Conditions and any other terms, rules, guidelines, instructions, or directions posted on the VCA Next website or that may be otherwise communicated to you (collectively, "Guidelines".  Please read these Terms and Conditions carefully.   If you do not agree to any of these Terms and Conditions do not enter any Competition.  Each submission/entry into any VCA Next Competition, including the ideas or concepts embodied therein, and any other information, materials, suggestions or ideas provided by you in connection with a Competition is referred to herein as a <b>"Submission"</b> Eligibility</p>
      
      <div class="terms__subtitle">Eligibility</div>

      <p>VCA Next Competitions are open only to current employees of VCA and its affiliated entities who are at least eighteen (18) years of age.  VCA reserves the right to disqualify any Submission or any Participant that VCA, in its sole discretion, deems to violate these Terms and Conditions or any Guidelines.</p>

      <div class="terms__subtitle">Winners</div>

      <p>In order for a Participant to be declared a finalist and be eligible for an award in a Competition, he or she must have complied with, and remain in compliance with, these Terms and Conditions and any Guidelines, and must sign and deliver to VCA (within 10 days after VCA’s request) a standard declaration and release form, which will include: a declaration of the participant’s compliance with these Terms and Conditions, an acceptance of the award as provided, a publicity release, a liability release, an IRS Form W-9 or Form W-8, as applicable, and any other documentation that VCA may require, in its reasonable discretion.</p>

      <div class="terms__subtitle">INTELLECTUAL PROPERTY RIGHTS</div>

      <p>As between VCA and Participant, any Submission provided by Participant in connection with VCA Next or any Competition shall become VCA’s property.  The act of submitting the Submission or providing any other information, materials, suggestions, or ideas constitutes an assignment to VCA of all worldwide right, title and interest, including any and all copyright or other intellectual property rights in and to such material and information.  VCA is under no obligation whatsoever to use or provide Participant any compensation with respect to any Submission.  Submissions shall not be returned.</p>

      <p>To the extent that any grant of rights set forth above is deemed or determined not to be effective for any reason, then in addition, Participant hereby grants to VCA, and its designees, the unrestricted, non-exclusive, royalty-free, irrevocable, worldwide, sublicensable, transferable, assignable, license (but not the obligation) for the maximum duration permitted by applicable law to use and exploit in any manner, including without limitation to publish, republish, modify, edit, repurpose, reproduce, distribute, sell, disclose, publicly perform, and create derivative works from Participant’s Submission provided by Participant (in whole or in part) without any fee or other form of compensation, and without further notification or permission or attribution.</p>

      <p>By making a Submission Participant acknowledge and agrees that VCA may obtain many submissions in connection with VCA Next and/or other initiatives or competitions staged and/or offered by or for VCA, and that such submissions may be similar or identical in theme, idea, format or other respects to other submissions submitted in connection with VCA Next and/or other competitions or initiatives staged by or for VCA or submitted for other reasons or other materials developed by VCA or its contractors or agents.  Unless prohibited by applicable law, Participant waives any and all claims against VCA, its affiliated entities, and/or any other participants Participant may have had, may have, and/or may have in the future, that any submission and/or other works accepted, reviewed and/or used by VCA or other Participants may be similar to your submission, or that any compensation is due to you in connection with such submission or other works used by VCA or its affiliated entities.  For the avoidance of doubt, the foregoing waiver shall not impair or limit any legal rights under applicable law, rule or regulation that cannot be excluded, limited, amended or waived.</p>

      <div class="terms__subtitle">Publicity</div>

      <p>Except where otherwise prohibited by law, participation in a VCA Next Competition constitutes your consent to VCA’s use of your name, voice, image, likeness, city, state, biography and other biographical details, mention of the nature of your participation in a Competition and photographs and video taken at Competition events, for purposes of advertising, promotion, and publicity in any and all media now or hereafter known, throughout the world in perpetuity, without additional compensation, notification, permission, or approval.</p>

      <div class="terms__subtitle">WARRANTIES and INDEMNIFICATION</div>

      <p>Participant warrants that Participant’s Submission is Participant’s own original work and, as such, is the sole and exclusive owner and rights holder of the Submission and that Participant has the right to submit the Submission in the Competition and grant all required licenses.  Participant agrees not to submit any Submission that: (a) infringes any third party proprietary rights, intellectual property rights, industrial property rights, personal or moral rights or any other rights, including without limitation, copyright, trademark, trade names, industrial designs, patent, trade secret, privacy, publicity or confidentiality obligations; or (b) otherwise violates applicable state, federal, or local law.  You will indemnify, defend, and hold harmless VCA and its affiliated entities from and against all third party claims, actions, or proceedings of any kind and from any and all damages, liabilities, costs, and expenses relating to, or arising from, the entrant’s submission or any breach or alleged breach of any of the representations, warranties, and covenants of the entrant hereunder.</p>

      <div class="terms__subtitle">law; Disputes</div>

      <p class="uppercase">VCA NEXT, ALL COMPETITIONS, AND THESE TERMS AND CONDITIONS IS GOVERNED BY, AND WILL BE CONSTRUED IN ACCORDANCE WITH, THE LAWS OF THE STATE OF DELAWARE, AND THE FORUM AND VENUE FOR ANY DISPUTE SHALL BE IN LOS ANGELES, CALIFORNIA.  IF ANY CONTROVERSY OR CLAIM RELATED TO VCA NEXT, ANY COMPETITION, OR THESE TERMS AND CONDITIONS, IS NOT OTHERWISE RESOLVED THROUGH DIRECT DISCUSSIONS OR MEDIATION, IT SHALL THEN BE RESOLVED BY FINAL AND BINDING ARBITRATION ADMINISTERED in accordance with the rules for commercial arbitration of the American Arbitration Association in effect at the time such arbitration is initiated, and subject further to the provisions of the CALIFORNIA Arbitration Act, incorporated by reference.  THE REMEDY FOR ANY CLAIM SHALL BE LIMITED TO ACTUAL DAMAGES, AND IN NO EVENT SHALL ANY PARTY BE ENTITLED TO RECOVER PUNITIVE, EXEMPLARY, CONSEQUENTIAL, OR INCIDENTAL DAMAGES, INCLUDING ATTORNEYS’ FEES OR OTHER SUCH RELATED COSTS OF BRINGING A CLAIM, OR SEEK INJUNCTIVE OR ANY OTHER EQUITABLE RELIEF.</p>

      <div class="terms__subtitle">Modifications to Terms AND CONDITIONS/VCA next</div>

      <p>VCA reserves the right to modify these Terms at any time by posting revised Terms on the VCA Next website [INSERT LINK to TERMS OF USE URL].  Your continued participation in any Competition after such revisions to the Terms have been posted shall be deemed irrevocable acceptance of those revisions.  If you do not agree to (or cannot comply with) these Terms, as amended, you must immediately notify VCA’s Director, Innovation.  VCA reserves the right to change, modify, suspend or discontinue all or any aspects of VCA Next or any Competition at any time without prior notice.</p>

      <p class="terms__copyright">©VCA Inc. 2016.  All Rights Reserved.</p>
      <p class="terms__date">Last updated January 2016</p>

      </div> <!-- end .terms__content -->
  </div> <!-- .terms__container -->
</div> <!-- .terms -->