<div class="top-11-slide__content top-11">
  
  <div class="top-11-slide__nav-candidates top-11-slide__slick-nav">


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image samantha">
        <img src="/next/images/vca-next-top-5-ideas-1st-place-icon.svg" class="rank-icon first-place" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            Veterinary Relief Scheduling APP (VRSA)</div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Samantha Ciulla</div>
        <div class="top-11-slide__nav-candidate-position">
          HM at VCA Venice Animal Hospital<br />
          Venice, CA
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">Veterinary Relief Scheduling APP (VRSA)</div>
        <div class="top-11-slide__nav-candidate-idea-copy">The Veterinary Relief Scheduling App (VRSA) would allow each VCA hospital to post the shifts that need to be covered so other VCA hospital employees can take on shifts that need to be filled.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image erika">
        <img src="/next/images/vca-next-top-5-ideas-2nd-place-icon.svg" class="rank-icon second-place" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            Pawsibilities</div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Erika Ervin</div>
        <div class="top-11-slide__nav-candidate-position">
          HM at Freehold Animal Hospital<br />
          Freehold, NJ
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">Pawsibilities</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Develop and create annual recognition awards that identify VCA employees for outstanding work throughout the year.  Through this, we will create quarterly presentations with executives to explain important details about VCA, the great things we are doing as a company and connecting the field with our support office.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image katie">
        <img src="/next/images/vca-next-top-11-finalists-3rd-place-icon.svg" class="rank-icon third-place" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            Digital Welcome Boards</div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Katie King</div>
        <div class="top-11-slide__nav-candidate-position">
          HM at VCA Elk Grove Animal Hospital<br />
          Sacramento, CA
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">Digital Welcome Boards</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Digital Welcome board for hospital lobby. Utilizing a TV display, the program would pull information from Woofware arrival and departure queues to welcome clients as they come and go from the hospital with a unique display for their pet, including photos. Real time announcement of new care club members. The hospitals would also be able to include customized content unique to their clients and patients.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image christina">
        <img src="/next/images/vca-next-top-11-finalists-4th-place-icon.svg" class="rank-icon fourth-place" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            Veterinary Assistant Boot Camps
          </div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Christina Rae Thompson</div>
        <div class="top-11-slide__nav-candidate-position">
          LVT at VCA Veterinary Specialists Center of Seattle<br />
          Seattle, WA
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">Veterinary Assistant Boot Camps</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Veterinary Assistant Boot Camps focus on three main areas: Radiology Safety and Positioning, Low Stress Handling and Anesthesia Machine Basics. Licensed veterinary technicians are in short supply and many hospitals are utilizing assistants in expanded roles, often these assistants are former CSR and Kennel staff with limited veterinary experience.   Veterinary Assistant Boot Camps are one day events that will provide knowledge and training that can be implemented immediately to help reduce chance of injury to staff and patients.    I am currently putting on these events in my region with very positive feedback. This type of training is actively sought after by HM’s and MD’s for their staff, the cost is minimal and it is a wonderful way to promote a positive bond between veterinary support staff and VCA. I feel that these types of events can help to ensure new staff are on the right track to be a part of providing the excellent patient care that VCA is known for and, will in turn, grow dedicated technical staff from within the ranks who will help spread the word that VCA is the premier place to work! </div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image jenn">
        <img src="/next/images/vca-next-top-11-finalists-5th-place-icon.svg" class="rank-icon fifth-place" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            Practice Management Telephone Automation</div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Jenn Simmons</div>
        <div class="top-11-slide__nav-candidate-position">
          HM at Vancouver Animal Wellness Hospital<br />
          Vancouver, BC
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">Practice Management Telephone Automation</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Improving client experience with automated account access through caller ID. Any number linked to a client’s account will automatically launch their profile so anyone picking up the phone will know who they are talking to right away.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->

    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image janet">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="rank-icon finalist" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            VCA Uber
            </div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Dr. Janet McKim</div>
        <div class="top-11-slide__nav-candidate-position">
          DVM at VCA Charles Towne Animal Hospital<br />
          Charleston, SC
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">VCA Uber</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Through a partnership between a ride-sharing service and VCA, we can create a reliable, cost effective, and convenient transportation option for our clients and pets.  A ride-sharing service such as Uber currently defines itself as “dog friendly with driver discretion”. VCA would partner with Uber to develop a pet friendly option directing ride requests to an Uber driver who is prepared to transport pets. We will have a “VCA White Glove” service where customers can select our hospitals to transport their pets to our hospitals for an exam for an additional fee.  Partnering with Uber compliments our client centric culture of Valued, Connected, Affirmed.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image crystal">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="rank-icon finalist" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            QUIK SHOT Inventory System</div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Crystal Nunn</div>
        <div class="top-11-slide__nav-candidate-position">
          HM att<br />
          Sugar Land, TX
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">QUIK SHOT Inventory System</div>
        <div class="top-11-slide__nav-candidate-idea-copy">The QUIK SHOT Inventory System will be a promising new app that utilizes existing barcode and QR cod technology to streamline inventory counting and reporting. QUIK SHOT will work by using a smartphone or clinic iPad to scan medication, supplies and pet food. QUIK SHOT will develop in 3 phases: 1) Quarterly Inventory count 2) Scan in Receivables (shipments) and Scan out Sales 3)Auto Replenish and Perpetual inventory: automatically electronically submit orders directly to suppliers to replenish depleted stock. The expected outcome would be timely accurate reporting, better asset management, and never being out of available stock.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image sarah">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="rank-icon finalist" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            VCA Care Club Donation Bank </div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Sarah Ramer</div>
        <div class="top-11-slide__nav-candidate-position">
          Technician Supervisor at VCA York Royalton Animal Hospital<br />
          North Royalton, OH
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">VCA Care Club Donation Bank </div>
        <div class="top-11-slide__nav-candidate-idea-copy">The Care Club Donation Bank creates a portion of dollars to be used as a fund for our hospitals use for clients that need help paying their bills when our hospitals increase Care Club usage.  By increasing the usage of the Care Club package, we can increase client care and revenue.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image tracy">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="rank-icon finalist" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            The Great Exchange  </div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Tracy Heyland</div>
        <div class="top-11-slide__nav-candidate-position">
          ROD - Vancouver<br />
          Vancouver, BC
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">The Great Exchange</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Key employees (PAs, CCRs, DVMs, RVTs) are selected to participate in a VCA/AVC wide exchange program.  The primary focus is to reward exceptional team members with a valuable hands-on learning experience, while strengthening relationships between practices, building community, and elevating the standard of care in all practices.  We recognize that current models for continuing education are limited in scope and practicality, and that we can all benefit by capitalizing on our individual talents, and sharing knowledge.  The program would be overseen by a team who would help match selected employees with practices capable of providing the appropriate experience.  The program could be funded by existing CE allowances, and program coordinators would seek approval for CE credit for employees participating in an exchange.   This program directly honors our cultural values of Team Development and Advancement, Innovation, and Superior Patient Care.  Indirectly, this program positively affects Client Experience (by sharing practical ways of providing and exceptional experience), Industry Stability (by engaging and retaining key individuals), and Community Leadership.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image pamela">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="rank-icon finalist" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            VCA Face to Face
          </div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Pamela Tran</div>
        <div class="top-11-slide__nav-candidate-position">
          Veterinary Assistant at VCA Emergency Animal Hospital & Referral Center<br />
          San Diego, CA
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">VCA Face to Face</div>
        <div class="top-11-slide__nav-candidate-idea-copy">A video chat app for patients, pet parents, and veterinarians that is exclusively for VCA Hospitals and their clients. Through a face-to-face system, our hospitals can video chat with clients who have dropped off their pets and cannot be there in person.  Unlike Telemedicine now, clients can drop off their pets in the morning, and use telemedicine to do the consult with the pet in the room with the doctor and the owner can be virtually consulted via VCA Face to Face. Doctors can communicate with specialists for referral cases and consultations. Interns and externs can even participate in hospital rounds and even watch certain procedures all from their hand-held device. The possibilities are endless for VCA Face to Face.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__nav-candidate top-11-slide__modal-trigger">

      <div class="top-11-slide__nav-candidate-image andrea">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="rank-icon finalist" alt="">
      </div>

      <div class="top-11-slide__nav-candidate-trigger">
        <span class='icon-open'>
          include "to-top-icon.html"
        </span>
        <div class="top-11-slide__nav-candidate-trigger-container">
          <div class="top-11-slide__nav-candidate-trigger-title">
            Prescription Refills Linked to Home Delivery
          </div>
          <div class="top-11-slide__nav-candidate-trigger-read-more">
            Read Idea
            <span>
              include "to-top-icon.html"
            </span>
          </div>
        </div>
      </div>

      <div class="top-11-slide__nav-candidate-info">
        <div class="icon-close">
          include "to-top-icon.html"
        </div>
        <div class="top-11-slide__nav-candidate-name">Dr. Andrea Shaw</div>
        <div class="top-11-slide__nav-candidate-position">
          DVM at VCA Santa Anita Animal Hospital<br />
          Monrovia, CA
        </div>
        <div class="top-11-slide__nav-candidate-idea-title">Prescription Refills Linked to Home Delivery</div>
        <div class="top-11-slide__nav-candidate-idea-copy">Expanding home delivery and prescription refills by connecting WOOFware, VetSource and a new Pet Portal. This easy to use system will increase compliance due to reoccurrence, reduce errors and keep clients from going to outside pharmacies.</div>

        <a class="top-11-slide__nav-candidate-read-more">
          Read More
          <span>
            include "to-top-icon.html"
          </span>
        </a>
      </div>

    </div><!-- end top-11-slide__nav-candidate -->


    <div class="top-11-slide__about-comp">
      <h3>
        about the
        <span class="logo">
          include "vca-next-logo-unified.html"
        </span>
        competition
        <span class="icon-plus">
          include "plus-icon.html"
        </span>
      </h3>
    </div>

  </div><!-- end top-11-slide__nav-candidates -->

</div>
