<div class="top-blue">
  <div class="master-header clearfix">

      <a id="intro-link" class="logo">VCA Next</a>

      <ul class="nav-blocks">
        <li><a id="contest-block" href="#contest"></a></li>
        <li><a id="top-11-block" href="#top-11"></a></li>
        <li><a id="ideas-block" href="#ideas"></a></li>
        <li><a id="top-5-block" href="#top-5"></a></li>
        <li><a id="questions-block" href="#questions"></a></li>
      </ul>

      <ul class="master-nav">
        <li><a id="contest-link" href="#contest">The Contest</a></li>
        <li><a class="top-eleven-link" href="#top-11">Top 11 Finalists</a></li>
        <li><a id="ideas-link" href="#ideas">Ideation Resources</a></li>
        <li><a class="top-five-link" href="#top-5">Top 5 Ideas</a></li>
        <li><a id="questions-link" href="#questions">FAQ</a></li>
        <span id="magic-line" class="magic-line"></span>
      </ul>

  </div>

  <div class="sub-headings">
      <div class="contest-heading-wrapper">
        <h2 id="contest-heading" class="sub-heading contest-heading mobile-sub-heading">The Contest</h2>
      </div>
      <h2 id="top-11-heading" class="sub-heading mobile-sub-heading top-11-sub-heading">
        Top 11 Finalists
        <span class="icon-plus">
          include "plus-icon.html"
        </span>
      </h2>
      <h2 id="ideas-heading" class="sub-heading mobile-sub-heading">Ideation Resources</h2>
      <h2 id="top-5-heading" class="sub-heading mobile-sub-heading">
        Top 5 Ideas - Support Office
        <div class="page-title-information-icon mobile">
          include "information.html"
        </div>
      </h2>
      <h2 id="questions-heading" class="sub-heading mobile-sub-heading">FAQ</h2>
  </div>
</div>