<div class="top-11-info-modal">

  <div class="top-11-info-modal__container">

    <div class="top-11-info-modal__close">
      <span class="icon">
        include "close-modal-icon.html"
      </span>
      close
    </div>

    <div class="top-11-info-modal__title">Top 11 Finalists</div>

    <div class="top-11-info-modal__copy">Our 1st Annual VCA NEXT Competition was completed on August 18th 2016 with the championship taking place at the Support Office. Below are all the ideas that made it to the final round and the employees that created them!</div>
    
  </div>
  
</div>