<div class="top-5-slide__content top-5">
  
  <div class="top-5-slide__nav-candidates top-5-slide__slick-nav">

    <div class="top-5-slide__nav-candidate top-5-slide__modal-trigger">

      <div class="top-5-slide__nav-candidate-image">
        <img src="/next/images/vca-next-top-5-ideas-1st-place-icon.svg" class="top-5-slide__rank-icon first-place" alt="">
      </div>

      <div class="top-5-slide__nav-candidate-info">
        <div class="top-5-slide__nav-candidate-name">Julie Lu,<br />Jeannette Kallas,<br />Jeannie Copeland</div>
        <div class="top-5-slide__nav-candidate-email">PR Strategy & Comp Manager,<br />Payroll Project Manager,<br />VP Payroll</div>
        <div class="top-5-slide__nav-candidate-dept">Payroll</div>
        <div class="top-5-slide__nav-candidate-idea-label">VCA Volunteers</div>
        <div class="top-5-slide__nav-candidate-idea-copy">In an effort to promote teamwork, engagement and community volunteerism VCA will put together quarterly events for teams to volunteer; i.e. pet shelters, vaccine clinics, dog food giveaways all while wearing a VCA Volunteer blue t-shirt and Woof hat. This would be a nationwide effort to not only reach volunteer goals but give the entire VCA family an ability to connect with their community and their company.</div>
        <div class="top-5-slide__nav-candidate-idea-copy-output"></div>
      </div>
      <div class="top-5-slide__nav-candidate-read-more-container">
        <a class="top-5-slide__nav-candidate-read-more">Read More</a>
      </div>

    </div><!-- end top-5-slide__nav-candidate -->

    <div class="top-5-slide__nav-candidate top-5-slide__modal-trigger">

      <div class="top-5-slide__nav-candidate-image">
        <img src="/next/images/vca-next-top-5-ideas-2nd-place-icon.svg" class="top-5-slide__rank-icon second-place" alt="">
      </div>

      <div class="top-5-slide__nav-candidate-info">
        <div class="top-5-slide__nav-candidate-name">Kevin Salazar</div>
        <div class="top-5-slide__nav-candidate-email">Corporate Safety Officer</div>
        <div class="top-5-slide__nav-candidate-dept">Risk Management</div>
        <div class="top-5-slide__nav-candidate-idea-label">VCA’s Collaborative Network (VCN)</div>
        <div class="top-5-slide__nav-candidate-idea-copy">VCN can be thought of as in-house message board that will allow doctors, managers and techs to share ideas and collaborate with each other on a large scale. Doctors will be able to receive advice on medical cases from the best veterinarians in the country. Managers will be able to share their experience from an OSHA inspection to give other nearby managers a heads up. Technicians can share handling techniques with a network of like-minded individuals. VCN will, at long last, provide a platform for collaboration and idea sharing while letting VCA employees feel like they are part of a community.</div>
        <div class="top-5-slide__nav-candidate-idea-copy-output"></div>
      </div>
      <div class="top-5-slide__nav-candidate-read-more-container">
        <a class="top-5-slide__nav-candidate-read-more">Read More</a>
      </div>

    </div><!-- end top-5-slide__nav-candidate -->

    <div class="top-5-slide__nav-candidate top-5-slide__modal-trigger">

      <div class="top-5-slide__nav-candidate-image">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="top-5-slide__rank-icon finalist" alt="">
      </div>

      <div class="top-5-slide__nav-candidate-info">
        <div class="top-5-slide__nav-candidate-name">George Zlenko</div>
        <div class="top-5-slide__nav-candidate-email">Sr. Financial Analyst</div>
        <div class="top-5-slide__nav-candidate-dept">Corporate Accounting</div>
        <div class="top-5-slide__nav-candidate-idea-label">VCA Minute Clinic</div>
        <div class="top-5-slide__nav-candidate-idea-copy">In today’s "on-demand" economy, consumers not only prefer, but expect, immediate provisioning of goods and services.  In keeping with this consumer trend, many pet owners either settle for low quality health care,  defer,  or completely neglect basic treatments for their pets because traditional veterinary options are viewed as expensive, time consuming, or inconvenient.  The VCA Minute Clinic is a quick, convenient (no appointment necessary), and affordable option that focuses exclusively on recurring (ex: ear infections), seasonal (ex: ticks), and preventative (ex: rabies immunization) services.  Working in partnership with shelters, pet food / supply retailers, and pet hotel / boarding facilities (such as Camp Bow Wow) would bring VCA quality veterinary care to previously underserved and/or untapped markets, from the price-conscious mom to the time-pressed millennial.  The VCA Minute Clinic expands our network of exceptional treatment centers,  increasing the volume and frequency of interactions with pet owners, ultimately empowering our existing and new customers to obtain the most consistent high quality care for their animals.</div>
        <div class="top-5-slide__nav-candidate-idea-copy-output"></div>
      </div>
      <div class="top-5-slide__nav-candidate-read-more-container">
        <a class="top-5-slide__nav-candidate-read-more">Read More</a>
      </div>

    </div><!-- end top-5-slide__nav-candidate -->

    <div class="top-5-slide__nav-candidate top-5-slide__modal-trigger">

      <div class="top-5-slide__nav-candidate-image">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="top-5-slide__rank-icon finalist" alt="">
      </div>

      <div class="top-5-slide__nav-candidate-info">
        <div class="top-5-slide__nav-candidate-name">Michael Salazar</div>
        <div class="top-5-slide__nav-candidate-email">Sr. Service Desk Analyst</div>
        <div class="top-5-slide__nav-candidate-dept">IT Service Desk</div>
        <div class="top-5-slide__nav-candidate-idea-label">The Invisible Check-In</div>
        <div class="top-5-slide__nav-candidate-idea-copy">Imagine taking your dog to VCA and checking-in just by walking through the door. As you enter, you are greeted with your pet’s picture and name on a welcome screen. You haven’t even sat down yet, but you and your companion are greeted in the lobby by name - without saying a word. Welcome to the future of a seamless client experience, welcome to the future of VCA. With advanced microchip readers (RFID) at the front entrance, your pet’s embedded microchip tag will alert our staff, who smile and greet you affirming your arrival and check-in. We’re using the latest technology to efficiently guide your entire visit with us. This insures your pet is receiving the highest quality of care that you have come to expect from VCA.</div>
        <div class="top-5-slide__nav-candidate-idea-copy-output"></div>
      </div>
      <div class="top-5-slide__nav-candidate-read-more-container">
        <a class="top-5-slide__nav-candidate-read-more">Read More</a>
      </div>

    </div><!-- end top-5-slide__nav-candidate -->

    <div class="top-5-slide__nav-candidate top-5-slide__modal-trigger">

      <div class="top-5-slide__nav-candidate-image">
        <img src="/next/images/vca-next-top-5-ideas-finalist-icon.svg" class="top-5-slide__rank-icon finalist" alt="">
      </div>

      <div class="top-5-slide__nav-candidate-info">
        <div class="top-5-slide__nav-candidate-name">Shelly Krieger</div>
        <div class="top-5-slide__nav-candidate-email">Manager,<br />Marketing Analytics</div>
        <div class="top-5-slide__nav-candidate-dept">Marketing</div>
        <div class="top-5-slide__nav-candidate-idea-label">Get That Picture!</div>
        <div class="top-5-slide__nav-candidate-idea-copy">Use the Finding Rover app to help populate patient pictures in WOOFware and to give our clients a tool to help get lost dogs home. First, a patient picture enables the hospital staff to recognize their patients as they come through the door, improving the client experience.  Second, by registering on Finding Rover, we add a tool for our clients to find their lost pet.  Third, clients who like the app will tell their friends about how their VCA hospital shared it with them creating goodwill and new clients.  Finally, these friends could adopt a pet through a shelter partnered with Finding Rover, receive a Free First Exam coupon for VCA and become a new client.  I propose to include a procedure during check-in at every appointment, where a picture can be taken using the Finding Rover app and we can help our client register on Finding Rover. The picture can be uploaded to the WOOFware patient record.</div>
        <div class="top-5-slide__nav-candidate-idea-copy-output"></div>
      </div>
      <div class="top-5-slide__nav-candidate-read-more-container">
        <a class="top-5-slide__nav-candidate-read-more">Read More</a>
      </div>

    </div><!-- end top-5-slide__nav-candidate -->

  </div><!-- end top-5-slide__nav-candidates -->

</div>

