<div class="top-bar">
    <div class="top-bar-bg"></div>
    <p class="count-down" id="count-down"></p>
    <a id="submit-idea" href="#">
      include "paw-icon.html"
      Submit <span>your brilliant idea</span>
    </a>
</div>