<!-- top 5 information modal -->
<div class="top-5-information-modal">
  <div class="top-5-information-modal__overlay"></div>
  <div class="top-5-information-modal__container">
    <div class="top-5-information-modal__close">
      <span class="icon">
        include "close-modal-icon.html"
      </span>
      close
    </div>

    <h2 class="top-5-information-modal__title">top 5 ideas</h2>
    <div class="top-5-information-modal__content">The 1st initial launch of the VCA Next Competition was completed in Q2 2016 at the Support Office. Here are the Top 5 ideas that were selected and all of them presented in front of the Founders and Executives of VCA. We are currently exploring how we would implement the winning ideas!</div>
  </div>
</div>