<div class="video-modal">
    <video id="modal-video" controls>
      <source src="./videos/Mixed.mp4" type="video/mp4">
      <source src="./videos/Mixed.ogg" type="video/ogg">
    </video>

  <div class="close-video-modal">
    <a>
      include "close-modal-icon.html"
      Close
    </a>
  </div>
</div>