<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 44 44" style="enable-background:new 0 0 44 44;" xml:space="preserve">
<circle style="fill:#C8FF00;" cx="22" cy="22" r="22"/>
<g>
  <path style="fill:#0666E5;" d="M18.7,22.5c0-3.8,3.9-4.4,3.9-5.5c0-0.4-0.3-0.7-1.3-0.7c-0.9,0-2.1,0.6-3,1.5l-3.9-4.5
    c2-2.1,5-3.1,7.7-3.1c4.7,0,7.6,2.1,7.6,5.6c0,4.9-4.9,5.2-4.9,7.6c0,0.6,0.2,1.1,0.4,1.3l-5.5,1.2C19.1,25,18.7,23.8,18.7,22.5z
     M18.5,30.2c0-2,1.7-3.7,3.7-3.7s3.7,1.7,3.7,3.7c0,2-1.7,3.7-3.7,3.7S18.5,32.2,18.5,30.2z"/>
</g>
</svg>
