<svg version="1.0" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 44 44" style="enable-background:new 0 0 44 44;" xml:space="preserve">
<circle style="fill:#C8FF00;" cx="22" cy="22" r="22"/>
<g>
  <path style="fill:#0666E5;" d="M24.4,24v8.1h-4.9V24h-7.1v-4.4h7.1v-7.8h4.9v7.8h7.1V24H24.4z"/>
</g>
</svg>
