  <div class="top-bar">
    <div class="width-wrapper">
      <p id="count-down">
        <span>03</span> Days
        <span>12</span> Hr
        <span>16</span> Sec
      </p>
      <a id="submit-idea" href="#">
        include "paw-icon.html"
        Submit <span>your brilliant idea</span>
      </a>
    </div>
  </div>